<div class="section container">
    <h4><strong>Tab, Wash Basin And Sink</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Tap</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Wash Basin</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Kitchen Sink</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
  
</div>
    <h4><strong>Blocks & Leakages</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Kitchen Sink</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Western Commonde</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Tap</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Wash Basin</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
  
</div>
    <h4><strong>Toilet And Sanitary Work</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Western Toilet</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Flush Tank (open)</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Toilet Jet (health Faucet)</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
         
        </div>
        
    </div>

</div>
    <h4><strong>Bathroom Fittings</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Shower</h6>
            
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
   
</div>
    <h4><strong>Plumbing Services</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Water Tank</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Pipelines And Pumps</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Full Home Health Check</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others Plumbing Services</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
  
  

    
</div>

</div>
