<!-- <div> -->
<div class="mt-5" >
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav="matSidenav"
      mode="over"
      opened
      class="col-6 col-md-3"
    >
      <mat-toolbar class="w-100 d-flex justify-content-end ">
        <!-- <button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->
          <mat-icon (click)="sidenav.toggle()" *ngIf="sidenav.opened && sidenav.mode === 'over'" class="d-flex justify-content-end"
            >close</mat-icon
          >
        <!-- </button> -->
      </mat-toolbar>
 <div class="w-100 d-flex flex-column align-items-center ">
  <img  *ngIf="artisanData.profileImage"
  src="data:image/png;base64,{{artisanData.profileImage}}" alt=""
  class="img-fluid bg-success rounded-circle w-50"
/>
<ngx-avatar *ngIf="!artisanData.profileImage " size="130" name="{{artisanData.firstName}} {{artisanData.lastName}}"></ngx-avatar>

  <h4 class="mt-2 mt-md-4">{{artisanData.firstName}} {{artisanData.lastName}}</h4>
  <h4>{{artisanData.email}}</h4>
  <h4>{{artisanData.profession}}</h4>

  <div class=" start">
  <ngx-star-rating [id]="artisanData.rating" [(ngModel)]="artisanData.rating" [disabled]="true"></ngx-star-rating>
    <h4>
Ratings: {{artisanData.rating}}

  </h4>
  </div>
 </div>
      <hr class="divider" />
     

      <!-- Navbar nav -->
      <ul class="navbar-nav flex-column mx-5 px-3 ">
        <li class="nav-item cursor   align-text-center"  style="width: 200px;" >
          <a
            class="nav-link p-2 "
            [class.active]="expression == 'match1'"
            toggle
            (click)="expression = 'match1' ; sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"
            data-bs-toggle="collapse"
            data-bs-target="#navDashboard"
            aria-expanded="false"
            aria-controls="navDashboard"
            
          >
            <i class="nav-icon bi bi-house-door me-2"></i> PROFILE
          </a>
        </li>

        <li class="nav-item cursor  align-text-center"  style="width: 200px;" >
          <a
            class="nav-link p-2 "
            [class.active]="expression == 'match3'"
            toggle
            (click)="expression = 'match3' ; sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"
            data-bs-toggle="collapse"
            data-bs-target="#navDashboard"
            aria-expanded="false"
            aria-controls="navDashboard"
            
          >
          <i class="fa-solid fa-cart-shopping me-2"></i>ORDERS
          </a>
        </li>
      
        <li class="nav-item cursor  align-text-center"  style="width: 200px;" >
          <a
            class="nav-link p-2 "
            [class.active]="expression == 'match4'"
            toggle
            (click)="expression = 'match4' ; sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"
            data-bs-toggle="collapse"
            data-bs-target="#navDashboard"
            aria-expanded="false"
            aria-controls="navDashboard"
            
          >
          <i class="fa-solid fa-briefcase me-2"></i>QUOTE
          </a>
      
          

     

      

      
      </ul> 

      

      <!-- <mat-divider></mat-divider> -->
    </mat-sidenav>
    <mat-sidenav-content opened>
      <div class="content mat-elevation-z4 flex-column ms-3 ms-lg-4 mt-5" >
        <mat-toolbar class="col-12">
          <div class="d-lg-none">
            <mat-icon (click)="sidenav.toggle()" *ngIf="!sidenav.opened && sidenav.mode === 'over'">label_important</mat-icon>
          </div>

          <nav class="navbar-default navbar w-100 navbar-expand float-right">
            <a id="nav-toggle" >
              <i class="bi bi-menu"></i>
            </a>
         

            
            <!--Navbar nav -->
            <ul
              class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap"
            >
              <li class="dropdown stopevent">
                <a
                  class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted position-relative bg-info"
                
                  role="button"
                  id="dropdownNotification"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bi bi-bell"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-danger fs-6" >
                    {{signalRService.notificationCount}}
                    </span>
                </a>
             <div
                  class=" dropdown-menu dropdown-menu-end notify"
                  aria-labelledby="dropdownNotification"
                >
                  <div class="">
                    <div
                      class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center"
                    >
                      <span class="h4 mb-0">Notifications</span>
                      <a  class="text-muted">
                        <span class="align-middle">
                          <i class="bi bi-settings me-1"></i>
                        </span>
                      </a>
                    </div>
                    <!-- List group -->
                    <ul
                      class="list-group list-group-flush notification-list-scroll"
                    >
                      <li class="list-group-item bg-light">
                        <div class="row">
                          <div class="col">
                            <a class="text-body" >
                             
                                
                                <div class="ms-3" *ngFor=" let data of signalRService.notificationText; let i= index">
                                  <!-- <h5 class="fw-bold mb-1">Kristin Watson:</h5> -->
                                 <div class="text-wrap"  (click)="onclickNotification(data.notificationId)">
                                  <span class="me-2" >
                                    {{i+1 }}
                                   
                                  </span>
                                {{data.notificationText }}
                                  
                                 </div>
                                 
                                </div>
                            
                            </a>
                          </div>
                         
                        </div>
                      </li>
                   
                      
                     
                    </ul>
                    
                  </div>
                </div>
              </li>
              <!-- List -->
            
            </ul>
          </nav>

          <!-- <div class="d-flex justify-content-end w-100">
            <i class="bi bi-heart me-3"></i>
            <i class="bi bi-cart me-3"></i>
            <div>
              <div class="dropdown">
                <a
                  href="#"
                  class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                  id="dropdownUser2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <strong>mayowa</strong>
                  <div class="bg-success rounded-circle">
                    <img
                      src=""
                      alt=""
                      width="32"
                      height="32"
                      class="img-fluid"
                    />
                  </div>
                </a>
                <ul
                  class="dropdown-menu text-small shadow"
                  aria-labelledby="dropdownUser2"
                >
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </div>
          </div> -->
        </mat-toolbar>
        <div [ngSwitch]="expression" >
          <div *ngSwitchCase="'match1'">
            <section
              class="col w-100 justify-content-flexstart align-items-center  p-md-5 " 
            >
              <!-- <div class="h5 text-dark">EDIT INFORMATION</div> -->

              <div class="col-12 align-items-end d-flex">
                <div class="col-4 col-md-2 rounded-circle me-3">
                  <img  *ngIf="artisanData.profileImage"
                    src="data:image/png;base64,{{artisanData.profileImage}}" alt="/assets/images/1.jpg"
                    class="img-fluid bg-success rounded-circle "
                  />
                  <ngx-avatar size="130" name="{{artisanData.firstName}} {{artisanData.lastName}}" *ngIf="!artisanData.profileImage"></ngx-avatar>
                  <!-- <img class="img img-fluid rounded-circle " *ngIf="!artisanData.profileImage" src="/assets/images/1.jpg" /> -->
                </div>
              


                <div class="row" style="margin-bottom:15px;">
                  <div class="">
                    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
                  </div>
                  <div class="col-md-4">
                    <span class="upload" *ngIf="progress > 0">
                      {{progress}}%
                    </span>
                    <span class="upload" *ngIf="message">
                      {{message}}
                    </span>
                  </div>
                </div>


                </div>
            </section>

            <section class="w-100 ms-3  ps-md-5">
              <div>
                <div class="h5">ACCOUNT INFORMATION</div>
                <form [formGroup]="updateForm" (ngSubmit)=" updateUserDetails(this.updateForm.value)">
                  <div class="mb-3 row">
                    <label for="inputtext" class="col-sm-2 col-form-label "
                      >FIRST NAME</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        id="inputFirstName"
                        placeholder="{{artisanData.firstName}}"
                        value="{{artisanData.firstName}}"
                        formControlName="firstName"
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputtext" class="col-sm-2 col-form-label"
                      >LAST NAME</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        id="inputtext"
                        placeholder="{{artisanData.lastName}}"
                        formControlName="lastName"
                      />
                    </div>
                  </div>

                
                  <div class="mb-3 row">
                    <label for="inputtext" class="col-sm-2 col-form-label"
                      >PHONE NUMBER</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="number"
                        class="form-control"
                        id="inputnumber"
                        placeholder="{{artisanData.phoneNumber}}"
                        formControlName="phoneNumber"
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputtext" class="col-sm-2 col-form-label"
                      >SERVICE</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        id="inputtext"
                        placeholder="{{artisanData.profession}}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputtext" class="col-sm-2 col-form-label"
                      >ADDRESS</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        id="inputtext"
                        placeholder="{{artisanData.address}}"
                        formControlName="Address"
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputtext" class="col-sm-2 col-form-label"
                      >Location</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        id="inputtext"
                        placeholder="{{artisanData.location}}"
                        disabled
                      />
                    </div>
                  </div>

                  

                  
                
                  <!-- <div class="form-group form-outline mb-4">
                   
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      formControlName="state"
                      [(ngModel)]="selectedCountry.name"
                      (change)="onSelect($event.target)"
                    >
                      <option selected  >select location</option>
                      <option class="form-control form-control-lg mb-1"
                        *ngFor="let country of state"
                        value="{{  state.indexOf(country)}}"
                        
                      >
                        {{ country.name }}
                      </option>
                    </select>
                   <div> <label for="country" class="form-label">Select State</label></div>
                  </div>

                  <div class="form-group form-outline mb-4">
      
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      formControlName="city"
                      [(ngModel)]="selectedCountry.cities"
                      (change)="onSelectCities($event.target)"
                    >
                      <option selected value="">select location</option>
                      <option *ngFor="let state of city" value="{{state}}">
                        {{ state }}
                      </option>
                    </select>
                    <label for="country" class="form-label">Select City</label>
                  </div> -->
                 

                  <div class="form-group form-outline mb-4 d-flex">
                    <label for="inputtext" class="col-sm-2 col-form-label me-2"
                    >STATE</label
                  >
                    <select class="form-select" aria-label="Default select example" formControlName="state" (change)="onChangeState($event.target)">
                      <option value="" selected disabled>Select State</option>
                      <option *ngFor="let data of state2" [ngValue]="data.sate">{{data.sate}}</option>
                      
                    </select>
                    <span>select your state </span>

                    </div>
  
                    <div class="form-group form-outline mb-4 d-flex "   >
                      <label for="inputtext" class="col-sm-2 col-form-label me-2"
                      >LGA</label
                    >
                      <select class="form-select" aria-label="Default select example" formControlName="city" (change)="onChangeCity($event.target)">
                        <option selected value="" disabled>Select LGA</option>
                        <option *ngFor="let data of city2" value="{{data}}">{{data}}</option>
                        
                      </select>
                      <span>select your LGA </span>

                      </div>

                   <div class="d-flex">

                    <button class="btn btn-outline-success mx-1" (click)="toggleEditMode()" *ngIf="!isEditMode">
                      edit profile
                    </button>
                    <!-- <button class="btn btn-outline-success mx-1"  type="submit"   *ngIf="isEditMode">
                     update profile
                    </button> -->
                    <button class="btn btn-info me-2" type="submit"  *ngIf="isEditMode">Save Profile</button>
                    <button class="btn btn-danger "(click)="toggleEditMode()" *ngIf="isEditMode">Cancel</button>
                    <!-- <button class="btn btn-outline-danger mx-1">
                      Delete Account
                    </button> -->
                  </div>
              
                </form>
              </div>
            </section>

            <section class="p-2 mb-5 ps-md-5 butt">
          
              <div class="collapse pt-4" id="collapseExample">
                <div class="card card-body">
                  <h2>ChANGE PASSWORD</h2>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label"
                      >Current Password</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="password"
                        class="form-control"
                        id="inputPassword"
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label"
                      >New Password</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="password"
                        class="form-control"
                        id="inputPassword"
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label"
                      >Confirm Password</label
                    >
                    <div class="col-sm-4">
                      <input
                        type="password"
                        class="form-control"
                        id="inputPassword"
                      />
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary mt-3">Update Changes</button>
              </div>
            </section>
          </div>

          
          <div *ngSwitchCase="'match3'" class="p-3">
           
            <app-artisantransactions></app-artisantransactions>
          </div>



          <!-- invoice/Quote section -->
          <div *ngSwitchCase="'match4'" class="p-3">
            <mat-toolbar class="w-100 d-flex justify-content-between" >
              
            Quote History
            </mat-toolbar>
            <div class="row d-flex  " >
              <div class="d-flex col-6">
                <div class="col-md-3 " >
                  <input type="date"   [(ngModel)]="fromDate1" class="me-2" >
      
                </div>
                <div class="col-md-3 ">
                  <input type="date" style=" margin-right: 3px;" [(ngModel)]="toDate1" >
      
                </div>
                <div class="col-md-2 " >
                  <button class="btn btn-danger " (click)="filterByDate()">Search</button>
      
                </div>
              </div>
           
      <!-- <div class="col-12  col-md-6 mb-3 float-right">   
             <input type="text" placeholder="filter with jobDescription"  name="value" [(ngModel)]="value" (keyup)="Search($event.target) " >      
      </div> -->
      
           
          </div>
            <div id="no-tables">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Order ID/Invoice ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">User's Name</th>
                    <th scope="col">Location</th>

                    <th scope="col">Total Amount</th>
                    <th scope="col">Status</th>
                    <!-- <th scope="col">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of invoiceData | paginate: { itemsPerPage:10, currentPage:quotePage}; ">
                    <td data-title="Order ID/Invoice ID">{{data.serviceOrderId}}/{{data.invoiceId}}</td>
                    <td data-title=" Date">{{ data.date }}</td>
                    <td data-title=" User's Name">{{ data.customerInfo.name}}</td>
                    <td data-title="Location">{{data.serviceOrderAddress}}</td>
                    <td data-title="Total Amount">{{ data.invoiceTotal}}</td>
                    <td data-title="Status" *ngIf="data.action === 3">Approved</td>
                    <td data-title="Status" *ngIf="data.action === 2">Approved</td>
                    <td data-title="Status" *ngIf="data.action === 5">Paid</td>
                    <td data-title="Status" *ngIf="data.action === 1">Awaiting Approval</td>
    
                    <td data-title="Action">
                    
                      <!-- <button class="btn btn-info" *ngIf="!data.isApproved">
                        Pending
                      </button> -->
                      <button class="btn btn-success" *ngIf="data.action === 3"> Approved</button>
                      <button class="btn btn-info" *ngIf="data.action === 2"> Approved</button>
                      <button class="btn btn-info" *ngIf="data.action === 5">Payment made</button>
                      <button class="btn btn-info" *ngIf="data.action === 1">Awaiting Approval</button>
                    </td>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    
                  </tr>
    
                  
                </tbody>
              </table>
              <pagination-controls (pageChange)="quotePage = $event"></pagination-controls>

              <!-- <div *ngIf="!AllpendingData">
                <div class="h1  d-flex align-items-center justify-content-center text-muted" style="height: 400px;">{{pendingOrderError}}</div>
              </div> -->
            </div>
          </div>
          
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- </div> -->
