<div class="row mt-5 password">
  <div class="col-md-6 offset-md-3  pt-5">
    <h3>Reset Password</h3>
    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="resetPasswordEmail" class="me-3">Account Email</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <!-- <mat-label>Email</mat-label> -->
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error   *ngIf="
          Form.controls['email'].dirty &&
          Form.hasError('required', 'email')
        ">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="Form.hasError('required', 'email')">
            Email is <strong >required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button
        type="submit"
        [disabled]="Form.invalid"
        class="btn btn-primary mt-4"
      >
        Reset Password
      </button>
     
    </form>
  </div>
</div>
