<ng-container [ngSwitch]="expression">
    <!-- Quote section -->
    <div class="pt-5"   id="no-tables" >
        <div>
          <div class="nav-item cursor btn btn-info float-end mb-3"
          
          toggle
          (click)=" getAllPendingQuote()"
        >
          <a
            class="nav-link collapsed "
            style="color: white;"
            data-bs-toggle="collapse"
            data-bs-target="#navCourses"
            aria-expanded="false"
            aria-controls="navCourses"
          >
            <i class="nav-icon bi bi-book me-2"></i> Pending Qoute
          </a>
        </div>
        
        <div class="col-6 my-2">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for Artisans within your location">
        </div>
           <table class="table">
              <thead>
                <tr>
                  <th scope="col">  Invoice ID/Order ID</th>
                  <th scope="col">  Artisan's Name</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Client Number</th>
                  <th scope="col">Order Categories</th>
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                  <th scope="col">Total Amount</th>
                
                </tr>
              </thead>
              <tbody *ngFor="let data of viewQoute |filter: searchText| paginate: { id: 'listing_pagination',itemsPerPage: 10, currentPage: page, totalItems: totalRecord}">
                <tr class="align-center justify-content-center">
                  <td data-title="Invoice ID/Order ID" scope="row">{{data.invoiceId}}/{{data.serviceOrderUniqueId }}</td>
                  <td data-title="Artisan's Name" scope="row">{{data.artisanInfo.name}}</td>
                  <td data-title="Client Name">{{data.customerInfo.name}}</td>
                  <td data-title="Client Number">{{data.customerInfo.phoneNumber}}</td>
                  <td data-title="Order Categories">{{data.artisanInfo.profession}}</td>
                  <td data-title="Location">{{data.serviceOrderAddress}}</td>
                  <td data-title="Status" *ngIf="data.action === 1">Pending</td>
                  <td data-title="Status" *ngIf="data.action === 2">Admin Approved</td>
                  <td data-title="Status" *ngIf="data.action ===4">Customer Canceled</td>
                  <td data-title="Status" *ngIf="data.action ===5">Payment Confirmed</td>
                  <td data-title="Status" *ngIf="data.action ===3"> Customer Approved</td>
                  <td data-title="Total Amount">{{data.invoiceTotal}}</td>
                  <td>
                    <button type="button" class="btn btn-info me-2" (click)="openModal(template) ; onClickViewInvoce(data)">
                      View Quote
                    </button>
                    <button class="btn btn-inline-info me-2" (click)="approveQoute(data)" *ngIf="data.action === 1">Approve</button>
                    <button class="btn btn-success me-2" *ngIf="data.action === 2">Approved</button>
                    <button class="btn btn-success me-2" (click)="confirmPayment(data)" *ngIf="data.action ===3">Confirm Payment</button>
                    <button class="btn btn-success me-2"  *ngIf="data.action === 5"> Payment Confirmed</button>
                  </td>
                 
                </tr>
             
              
              </tbody>
            </table>
        </div>
      </div>

      <!-- Pending Quote section -->
      <div class="pt-5" *ngSwitchCase="'page8'" id="no-tables" >
        <div>

           <table class="table">
              <thead>
                <tr>
                  <th scope="col">  Invoice ID/Order ID</th>
                  <th scope="col">  Artisan's Name</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Client Number</th>
                  <th scope="col">Order Categories</th>
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                  <th scope="col">Total Amount</th>
                
                </tr>
              </thead>
              <tbody *ngFor="let data of viewPendingQoute | paginate: { id: 'listing_pagination',itemsPerPage: 10, currentPage: page, totalItems: totalRecord}">
                <tr class="align-center justify-content-center">
                  <td data-title="Invoice ID/Order ID" scope="row">{{data.invoiceId}}/{{data.serviceOrderUniqueId }}</td>
                  <td data-title="Artisan's Name" scope="row">{{data.artisanInfo.name}}</td>
                  <td data-title="Client Name">{{data.customerInfo.name}}</td>
                  <td data-title="Client Number">{{data.customerInfo.phoneNumber}}</td>
                  <td data-title="Order Categories">{{data.artisanInfo.profession}}</td>
                  <td data-title="Location">{{data.serviceOrderAddress}}</td>
                  <td data-title="Status" *ngIf="data.action === 1">Pending</td>
                  <td data-title="Status" *ngIf="data.action === 2">Admin Approved</td>
                  <td data-title="Status" *ngIf="data.action ===4">Customer Canceled</td>
                  <td data-title="Status" *ngIf="data.action ===5">Payment Confirmed</td>
                  <td data-title="Status" *ngIf="data.action ===3"> Customer Approved</td>
                  <td data-title="Total Amount">{{data.invoiceTotal}}</td>
                  <td>
                    <button type="button" class="btn btn-info me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onClickViewInvoce(data)">
                      View Quote
                    </button>
                    <button class="btn btn-inline-info me-2" (click)="approveQoute(data)" *ngIf="data.action === 1">Approve</button>
                    <!-- <button class="btn btn-success me-2" *ngIf="data.action === 2">Approved</button> -->
                    <!-- <button class="btn btn-success me-2" (click)="confirmPayment(data)" *ngIf="data.action ===3">Confirm Payment</button> -->
                    <!-- <button class="btn btn-success me-2"  *ngIf="data.action ===5"> Payment Confirmed</button> -->
                  </td>
                 
                </tr>
             
              
              </tbody>
            </table>
            <div class="h3 d-flex h justify-content-center align-items-center text-muted" style="height: 450px" *ngIf="!viewPendingQoute">
{{quotePendingError}}
            </div>
        </div>
      </div>
</ng-container>

<!-- Quote section -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">View Quote</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <div class="d-flex justify-content-between">
        <div>
          <h4>Artisan Details</h4>
          <h5>Name: <span>{{artisanName}}</span></h5>
          <h5>Email: <span>{{artisanEmail}}</span></h5>
          
        <h5> PhoneNumber: <span>{{artisanPhoneNumber}}</span></h5>
      <h5> Profession: <span>{{artisanProfession}}</span></h5>
        </div>
        <div>
          <h4>User Details</h4>
          <h5>Name: <span>{{userName}}</span></h5>
  
          <h5>Email: <span>{{userEmail}}</span></h5>
        <h5> PhoneNumber: <span>{{userPhoneNumber}}</span> </h5>
        <h5 > Total Amount: <span class="h6">&#8358; {{allTotal}}</span> </h5>
  
        </div>
      </div>
     
      <div class="card border-secondary mt-2 mb-5">
        <div class="card-body">
          <!-- <h4 class="card-title d-flex justify-content-between">Items Details <button type="button" class="btn btn-primary" (click)="addRow()">+</button></h4> -->
  
  
          <form action="" #invoiceBody="ngForm">
            <div *ngFor="let obj of serviceItemsDetails;let i=index">
          <div class="row" >
  
            <div class="col-md-3">
              <label>Item Name</label>
              <input type="text" class="form-control" name="name{{i}}" [(ngModel)]="obj.name" #name3="ngModel"   required >
  
              <!-- <div class="alert alert-danger" *ngIf="!name3.valid">
                <span *ngIf="name3?.errors?.required">This field is required</span>
              </div> -->
            </div>
            <div class="col-md-3">
              <label>Unit Price(&#8358;)</label>
              <input type="number" class="form-control" name="price{{i}}" [(ngModel)]="obj.price" #name4="ngModel"   required>
  
              <!-- <div class="alert alert-danger" *ngIf="!name4.valid">
                <span *ngIf="name4?.errors?.required">This field is required</span>
              </div> -->
            </div>
            <div class="col-md-3">
              <label>Quantity</label>
              <input type="number" class="form-control" name="quantity{{i}}" [(ngModel)]="obj.quantity" #name5="ngModel"   required>
  
              <!-- <div class="alert alert-danger" *ngIf="!name5.valid">
                <span *ngIf="name5?.errors?.required">This field is required</span>
              </div> -->
  
            </div>
            <div class="col-md-2">
              <label>Total (&#8358;)</label><br>
              <input type="number" class="form-control" name="total{{i}}" [(ngModel)]="obj.total" [ngModel]="updateTotalInItemsArray(obj)" disabled >
  
            </div>
  
            <div class="col-md-1" *ngIf="i!=0">
            </div>
  
  
  
           </div>
  
          </div>
          <div class="d-flex mt-3">
            <div class="me-1">Service Charge :<br> <input type="text" name="artisanCharge" [(ngModel)]="artisanCharge" [ngModelOptions]="{standalone: true}"></div>
            <div class="me-1">Inspection Fee :<br> <input type="text" [(ngModel)]="inspectionFee" [ngModelOptions]="{standalone: true}" disabled>  </div>
            <div>Discount(%) : <br> <input type="text" placeholder="% of Total Amount" [(ngModel)]="discountPercentage" [ngModelOptions]="{standalone: true}" ><span class="ms-2"> &#8358; {{ discountedPrice}}</span> </div>
          </div>
  
          <div class="form-floating mt-2">
            <textarea class="form-control" 
             required >{{jobDescription}}</textarea>
          </div>
  
          <div>
          </div>
          </form>
  
  
          </div>
  
        </div>
  
          <div class="mt-2">
            <button class="btn btn-danger me-2" (click)="modalRef?.hide()">Close</button>
            <button class="btn btn-info" type="submit" *ngIf="this.Action !== 2 && this.Action !== 5 && this.Action !== 3" (click)="submitEditedQuote(invoiceBody.value)"> Update Invoice</button>
            <!-- <button class="btn btn-info"  *ngIf="this.Action !== 2 && this.Action !== 5 && this.Action !== 3" (click)="submitEditedQuote(invoiceBody.value)"> Cancel Invoice</button> -->
  
  
          </div>
          {{message}}
  
      
  
  
    </div>
    
  </ng-template>