<div class="px-3">
  <div class="form-group input-group-lg form-outline mb-4 "   >
    <div class="col-4 mt-3" >
      <select class="form-select cursor" aria-label="Default select example" [(ngModel)]="selectedCategory" (ngModelChange)="getproduct()" >
        <option  value="" disabled selected>Select Category</option>
        <option  *ngFor="let data of categoryData" [ngValue]="data.categoryId">{{data.name}}</option>
        
      </select>
    </div>
    
  <div class="row g-4" *ngIf="productlist">
    <ng-container *ngFor="let items of productlist">
      
      
        <div class="col-6 col-sm-6 col-lg-4 col-xl-3cursor">
          <div class="card shadow h-100"  >
           
            <div (click)="productById(items.productId)">
              <img  class="card-img-top  img-fluid"
            src="data:image/png;base64,{{items.productImages}}" alt="">
            <h5 class="mt-2">{{items.name.toUpperCase()}}</h5>
                    <div class="card-title"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 50ch;">{{items.description}}</div>


          <div class="card-text">
            <div class="d-flex justify-content-between">
              <div>Price</div>
              <div>&#8358; {{items.price}}</div>
      
            </div>
          </div>
        
            </div>
          
          <button class="btn btn-info" (click)="addToCart(items)">Add to cart</button>
          </div>
        </div>
      
    </ng-container>
    
  </div>
  
</div>
<div class=" pt-4" *ngIf="productlistLength === 0">
  <div class=" background">
    
    <img class="img-fluid" src="/assets/images/15911.jpg" alt="">
  </div>
  
</div>
</div>