
<!-- Footer-->
<footer class="container-fluid bg-dark text-light ">
    <div class="container">
    <div class="row no-gutters">
    <div class="col-md-4 mb-md-0 d-flex">
    <div class=" w-100 py-3">
    <div class="con-prtext-primary w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="bi bi-telephone-fill text-primary "></span>
    </div>
    <div class="text">
        
    <span>(+234) 8149514729</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-md-0  d-flex">
    <div class="con con-2 w-100 py-3">
    <div class="con-prtext-primary w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="bi bi-envelope-plus-fill text-primary"></span>
    </div>
    <div class="text">
    <span>support@essentialartisans.com</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-md-0  d-flex">
    <div class="con con-3 w-100 py-3">
    <div class="con-prtext-primary w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="bi bi-geo-alt text-primary"></span>
    </div>
    <div class="text">
    <span>22 Sikiru Alade, Lekki, Lagos</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-8  ">
    <div class="row d-flex  align-items-center">
    <div class="col-md-4 col-4 mb-md-0 mb-4">
    <h2 class="footer-heading">About</h2>
    <ul class="list-unstyled">
    <li routerLink="" class="d-block">Our story</li>
    <li routerLink="" class="d-block">Awards</li>
    <li routerLink="" class="d-block">Our Team</li>
    <li routerLink="" class="d-block">Career</li>
    </ul>
    </div>
    <div class="col-md-4 col-4 mb-md-0 mb-4">
    <h2 class="footer-heading">Company</h2>
    <ul class="list-unstyled">
    <li routerLink="" class="d-block">Our services</li>
    <li routerLink="" class="d-block">Clients</li>
    <li routerLink="" class="d-block">Contact</li>
    <li routerLink="" class="d-block">Press</li>
    </ul>
    </div>
    <div class="col-md-4 mb-md-0 mb-4  ">
    <h2 class="footer-heading">Resources</h2>
    <ul class="list-unstyled">
    <li routerLink="" class="d-block">Blog</li>
    <li routerLink="" class="d-block">Newsletter</li>
    <li routerLink="" class="d-block">Privacy Policy</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-4 ">
    <h2 class="footer-heading">Subscribe</h2>
    <form action="#" class="subscribe-form">
    <div class="form-group mb-3 d-flex">
    <input type="text" class="form-control rounded-left" placeholder="Enter email address">
    <button type="submit" class="btn btn-primary rounded">Subscribe</button>
    </div>
    <span class="subheading mt-5">Get digital marketing updates in your mailbox</span>
    </form>
    </div>
    </div>
    <div class="row mt-2 pt-4 border-top">
    <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
    <p class="copyright mb-0">
    Copyright  &copy;2022 All rights reserved. 
    </p>
    </div>
    <div class="col-md-6 col-lg-4 text-md-right d-flex ">
    <ul class="ftco-footer-social p-0 d-flex list-unstyled">
    <li class="ftco-animate"><a routerLink="" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="bi bi-twitter me-3"></span></a></li>
    <li class="ftco-animate"><a routerLink="" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="bi bi-facebook me-3"></span></a></li>
    <li class="ftco-animate"><a routerLink="" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="bi bi-instagram me-3"></span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </footer>