.hope{
    
    width: 100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
  min-height: 80vh;
  height: 80vh;

}

.card-box .card-drop {
  color: #9a9da0;
  font-size: 20px;
  line-height: 1px;
  padding: 0px 5px;
  display: inline-block;
}
.text-success {
     
}
.text-muted {
    color: #9a9da0 !important;
}
.logo-alt-box .logo {
    
   
    
    
    
}
.logo-alt-box h5 {
    
}