<div>

  <!-- hero -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container-fluid">
      <div class="ms-5 mb-5">
        <p class="text-light h1" style="width: 18rem">
          1000+ Artisans at your fingertip
        </p>
        <p class="text-light lead Montserrat sans-serif mt-5">
          Ease the stress of finding artisans
        </p>
      </div>
      <div class="col-12  rounded d-flex mt-5">
        <div class="card col-6 col-md-4 bg-light bg-opacity-50 d-flex p-1 pe-4">
          <div class="mb-2 h4">Location</div>
          <div
            class="h5 text-light"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@mdo"
          >
            Search your location
            <i class="fa-solid fa-location-dot float-end"></i>
          </div>
        </div>
        <!-- <div class="card col-4  d-flex p-3 bg-light bg-opacity-50 "> -->
        <div class="dropdown card col-6 col-md-4 d-flex p-1 bg-light bg-opacity-50 pe-4">
          <div class="mb-2 h4">Service</div>
          <select class="form-select" aria-label="Default select example" >
            <option selected>Select Service</option>
            <option value="" *ngFor="let data of serviceData " routerLink="/available artisan">{{data.name}}</option>
           
          </select>

         
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- counter -->

  <section class="py-0 py-xl-5 pt-3">
    <div class="container">
      <div class="row g-4">
        <!-- Counter item -->
        <div class=" col-6 col-sm-6 col-xl-3">
          <div
            class="d-flex justify-content-center align-items-center p-4 bg-primary bg-opacity-10 rounded-3"
          >
            <span class="display-6 lh-1 text-warning mb-0"
              ><i class="bi bi-tv"></i
            ></span>
            <div class="ms-4 h6 fw-normal mb-0">
              <div class="d-flex">
                <h5
                  class="purecounter mb-0 fw-bold"
                  data-purecounter-start="0"
                  data-purecounter-end="10"
                  data-purecounter-delay="200"
                ></h5>
                <span class="mb-0 h5">100+</span>
              </div>
              <p class="mb-0">Reviews</p>
            </div>
          </div>
        </div>
        <!-- Counter item -->
        <div class="col-6 col-sm-6 col-xl-3">
          <div
            class="d-flex justify-content-center align-items-center p-4 bg-primary bg-opacity-10 rounded-3"
          >
            <span class="display-6 lh-1 text-primary mb-0"
              ><i class="fa-solid fa-users"></i
            ></span>
            <div class="ms-4 h6 fw-normal mb-0">
              <div class="d-flex">
                <h5
                  class="purecounter mb-0 fw-bold"
                  data-purecounter-start="0"
                  data-purecounter-end="200"
                  data-purecounter-delay="200"
                ></h5>
                <span class="mb-0 h5">100+</span>
              </div>
              <p class="mb-0">Users</p>
            </div>
          </div>
        </div>
        <!-- Counter item -->
        <div class="col-6 col-sm-6 col-xl-3">
          <div
            class="d-flex justify-content-center align-items-center p-4 bg-primary bg-opacity-10 rounded-3"
          >
            <span class="display-6 lh-1 text-success mb-0"
              ><i class="fa-solid fa-circle-check"></i
            ></span>
            <div class="ms-4 h6 fw-normal mb-0">
              <div class="d-flex">
                <h5
                  class="purecounter mb-0 fw-bold"
                  data-purecounter-start="0"
                  data-purecounter-end="60"
                  data-purecounter-delay="200"
                ></h5>
                <span class="mb-0 h5">200+</span>
              </div>
              <p class="mb-0">Job Done</p>
            </div>
          </div>
        </div>
        <!-- Counter item -->
        <div class="col-6 col-sm-6 col-xl-3">
          <div
            class="d-flex justify-content-center align-items-center p-4 bg-primary bg-opacity-10 rounded-3"
          >
            <span class="display-6 lh-1 text-info mb-0"
              ><i class="bi bi-patch-check-fill"></i
            ></span>
            <div class="ms-2 h6 fw-normal mb-0">
              <div class="d-flex">
                <h5
                  class="purecounter mb-0 fw-bold"
                  data-purecounter-start="0"
                  data-purecounter-end="6"
                  data-purecounter-delay="300"
                >
                  <!-- 0 -->
                </h5>
                <span class="mb-0 h5">200+</span>
              </div>
              <p class="mb-0">Certified Artisans</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- artisans within location -->
  <section class="pt-3">
    <div class="container-fluid">
      <!-- Title -->
      <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="fs-1">Artisan Within Your Location</h2>
          <p class="mb-0">Choose from thousand of available Artisans</p>
        </div>
      </div>

      <!-- Tabs content START -->
      <div class="tab-content" id="course-pills-tabContent">
        <!-- Content START -->
        <div
          class="tab-pane fade show active"
          id="course-pills-tabs-1"
          role="tabpanel"
          aria-labelledby="course-pills-tab-1"
        >
          <div class="row g-4">
            <!-- Card item START -->
            <div class="col-6 col-lg-4 col-xl-3 cursor" #Electrician name="Electrician" id="Electrician" (click)="getArtisan(Electrician.id)" routerLink="/available artisan">
              <div class="card shadow h-100">
                <!-- Image -->
                <img
                  src="assets/images/electricianhome.png"
                  class="card-img-top h-50 img-fluid"
                  alt="course image"
                />
                <!-- Card body -->
                <div class="card-body pb-0">
                  <!-- Title -->
                  <h5 class="card-title fw-normal">
                    <a class="text-decoration-none text-info"> Electrical</a>
                  </h5>
                  <p class="mb-2 text-truncate-2">
                    Get all you electrical issue fixed
                  </p>
                  <!-- Rating star -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="far fa-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item ms-2 h6 fw-light mb-0">
                      4.0/5.0
                    </li>
                  </ul>
                </div>
                <!-- Card footer -->
                <div class="card-footer pt-0 pb-3">
                  <hr />
                  <div>
                    See All Electrical Services
                    <span><i class="bi bi-arrow-right"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card item END -->

            <!-- Card item START -->
            <div class="col-6 col-sm-6 col-lg-4 col-xl-3 cursor" #Electrician name="Electrician" id="Electrician" (click)="clickMe(Electrician.id)" (click)="clickMe(Electrician.id)" (click)="updateText(Electrician.id)">
              <div class="card shadow h-100">
                <!-- Image -->
                <img
                  src="assets/images/acrepair.png"
                  class="card-img-top h-50 img-fluid"
                  alt=""
                />
                <div class="card-body pb-0">
                  <!-- Title -->
                  <h5 class="card-title fw-normal">
                    <a class="text-decoration-none text-info"> AC REPAIR</a>
                  </h5>
                  <p class="mb-2 text-truncate-2">
                    Get all your AC repair fixed
                  </p>
                  <!-- Rating star -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-half-alt-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item ms-2 h6 fw-light mb-0">
                      4.5/5.0
                    </li>
                  </ul>
                </div>
                <!-- Card footer -->
                <div class="card-footer pt-0 pb-3">
                  <hr />
                  <div>
                    See All Ac Repair Services
                    <span><i class="bi bi-arrow-right"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card item END -->

            <!-- Card item START -->
            <div class="col-6 col-sm-6 col-lg-4 col-xl-3 cursor" routerLink="/available artisan" #Carpenter name="Carpenter" id="Carpenter" (click)="clickMe(Carpenter.id)" (click)="updateText(Carpenter.id)">
              <div class="card shadow h-100">
                <!-- Image -->
                <img
                  src="assets/images/capenter.png"
                  class="card-img-top h-50"
                  alt="course image"
                />
                <div class="card-body pb-0">
                  <!-- Title -->
                  <h5 class="card-title fw-normal">
                    <a class="text-decoration-none text-info"> CARPENTRY</a>
                  </h5>
                  <p class="mb-2 text-truncate-2">
                    Get all your carpentry work done
                  </p>
                  <!-- Rating star -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-half-alt text-warning"></i>
                    </li>
                    <li class="list-inline-item ms-2 h6 fw-light mb-0">
                      4.5/5.0
                    </li>
                  </ul>
                </div>
                <!-- Card footer -->
                <div class="card-footer pt-0 pb-3">
                  <hr />
                  <div>
                    See All carpentry Services
                    <span><i class="bi bi-arrow-right"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card item END -->

            <!-- Card item START -->
            <div class=" col-6 col-sm-6 col-lg-4 col-xl-3 cursor" >
              <div class="card shadow h-100" routerLink="/available artisan">
                <!-- Image -->
                <img
                  src="assets/images/plumbing.png"
                  class="card-img-top h-50"
                  alt="course image"
                />
                <div class="card-body pb-0">
                  <!-- Badge and favorite -->

                  <!-- Title -->
                  <h5 class="card-title fw-normal">
                    <a class="text-decoration-none text-info"> PLUMBING</a>
                  </h5>
                  <p class="mb-2 text-truncate-2">
                    Get all your plumbing work done
                  </p>
                  <!-- Rating star -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="bi bi-star-fill text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0 small">
                      <i class="far fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item ms-2 h6 fw-light mb-0">
                      4.0/5.0
                    </li>
                  </ul>
                </div>
                <!-- Card footer -->
                <div class="card-footer pt-0 pb-3">
                  <hr />
                  <div>
                    See All Plumbing Services
                    <span><i class="bi bi-arrow-right"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <!-- Row END -->
        </div>
        <!-- Content END -->
      </div>
      <!-- Tabs content END -->
    </div>
  </section>

  <!-- what people says -->
  <section class="container-fluid pt-md-2 mt-5 bg-primary bg-opacity-10 shadow">
    <div class="row">
      <div class="col-md-5">
        <div class="card h-100 border-0 overflow-hidden px-md-4 background">
          <span
            class="bg-gradient-primary position-absolute top-0 start-0 w-100 h-100 opacity-10 d-none d-md-block"
          ></span>
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center position-relative zindex-2 p-0 pb-2 p-lg-4"
          >
            <p class="h2 text-center text-md-start p-lg-4">
              What People Says About Us
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div
          class="card border-0 shadow-sm p-4 p-xxl-5 bg-primary bg-opacity-10"
        >
          <div class="d-flex justify-content-between pb-4 mb-2">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner text-center">
                <div class="carousel-item active">
                  <p class="fs-lg mb-0">
                    Vestibulum nunc lectus auctor quis. Natoque lectus tortor
                    lacus, eu. Nunc feugiat nisl maecenas nulla hac morbi.
                    Vitae, donec facilisis sed nunc netus. Venenatis posuere
                    faucibus enim est. Vel dignissim morbi blandit morbi tellus.
                    Arcu ullamcorper quis enim.
                  </p>
                  <div
                    class="card-footer border-0 d-flex align-items-center w-100 pb-2 bg-primary bg-opacity-10"
                  >
                    <img
                      src="assets/images/may.jpg"
                      width="60"
                      class="rounded-circle img-fluid"
                      alt="Ralph Edwards"
                    />
                    <div class="ps-3">
                      <h3 class="fw-semibold lh-base mb-0">
                        enikansaye mayowa
                      </h3>
                      <span class="fs-sm text-muted"
                        >Head of Marketing at Lorem Ltd.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <p class="fs-lg mb-0">
                    Vestibulum nunc lectus auctor quis. Natoque lectus tortor
                    lacus, eu. Nunc feugiat nisl maecenas nulla hac morbi.
                    Vitae, donec facilisis sed nunc netus. Venenatis posuere
                    faucibus enim est. Vel dignissim morbi blandit morbi tellus.
                    Arcu ullamcorper quis enim.
                  </p>
                  <div
                    class="card-footer border-0 d-flex align-items-center w-100 pb-2"
                  >
                    <img
                      src="assets/images/may.jpg"
                      width="60"
                      class="rounded-circle"
                      alt="Ralph Edwards"
                    />
                    <div class="ps-3">
                      <h3 class="fw-semibold lh-base mb-0">Ralph Edwards</h3>
                      <span class="fs-sm text-muted"
                        >Head of Marketing at Lorem Ltd.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <p class="fs-lg mb-0">
                    Vestibulum nunc lectus auctor quis. Natoque lectus tortor
                    lacus, eu. Nunc feugiat nisl maecenas nulla hac morbi.
                    Vitae, donec facilisis sed nunc netus. Venenatis posuere
                    faucibus enim est. Vel dignissim morbi blandit morbi tellus.
                    Arcu ullamcorper quis enim.
                  </p>
                  <div
                    class="card-footer border-0 d-flex align-items-center w-100 my-2"
                  >
                    <img
                      src="assets/images/may.jpg"
                      width="60"
                      class="rounded-circle"
                      alt=""
                    />
                    <div class="ps-3">
                      <h3 class="fw-semibold lh-base mb-0">john paul</h3>
                      <span class="fs-sm text-muted"
                        >Head of Marketing at Lorem Ltd.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= About Section ======= -->
  <section class="container mt-5 "  >
    <div class="row partner g-0" style="background-image: linear-gradient(#c6e1ee, #ddeff7); overflow: hidden;">
      <div
      class="col-md-6 d-flex flex-column align-items-center justify-content-center position-relative zindex-2 p-0 pb-2 p-lg-4 "
      
    >
    <div class="h2 mt-1 mt-md-4 "> Earn extra money </div>
    <p class="h6 mt-2">Set your own schedule, be your own boss</p>
  <div class="d-flex">
    <button class=" h5 text-light mt-4 " style="background-color: #1daeff; border: none;" routerLink="/signup">Become An Artisans</button>
    <!-- <button class=" h6 text-light mt-4 ms-2" style="background-color: #1daeff; border: none;" routerLink="">Become A Vendor</button> -->
  </div>
    </div>
      <div class="col-md-6 partner d-none d-md-block  ">
        <img src="assets/images/partnerimage.jpg" alt="" class="img-fluid img w-100"  />
      </div>
   
    </div>
  </section>

  <!-- End About Section -->

  <!-- supported brands -->
  <section class="container mt-2 pt-3 pt-lg-5 pb-5 d-flex align-items-center flex-column">
    <div class="text-center h2 pb-md-2">Trusted by Leading Companies</div>

    <div class="row w-50 d-flex align-items-center ">
      <div
        class="col-12 card-group justify-content-between align-items-center d-flex"
      >
        <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
          <!-- Card -->
          <img
            src="assets/images/all-smiles.png"
            alt=""
            class="img-fluid rounded-circle"
          />
          <!-- <div class="card mb-4 rounded box h-100">
        <img src="assets/images/all-smiles.png" alt="" class="img-fluid rounded-circle">
      </div> -->
        </div>
        <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
          <!-- Card -->
          <img
            src="assets/images/flash-gas.jpg"
            alt=""
            class="img-fluid rounded-circle"
          />
          <!-- <div class="card mb-4 rounded h-100 box">
      <img src="" alt="" class="img-fluid">
    </div> -->
        </div>
        <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
          <!-- Card -->
          <img
            src="assets/images/appletrees.png"
            alt=""
            class="img-fluid rounded-circle"
          />
          <!-- <div class="card mb-4 rounded h-100 box">
        <img src="" alt="" class="img-fluid">
    </div> -->
        </div>
        <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
          <!-- Card -->
          <img
            src="assets/images/kwodra.png"
            alt=""
            class="border border-5 border-dark img-fluid rounded-circle"
          />
          <!-- <div class="card mb-4 rounded h-100 box">
        <img src="" alt="" class="img-fluid">
    </div> -->
        </div>
      </div>
    </div>
  </section>
</div>

<!-- modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
     <form action="" [formGroup]="searchForm" (ngSubmit)="onLocationFilter()">
      <div class="d-flex flex-grow-1">

      <div class="form-group form-outline mb-4">
                   
        <select class="form-select" aria-label="Default select example" formControlName="state" (change)="onChangeState($event.target)">
          <option value="" selected disabled>Select State</option>
          <option *ngFor="let data of state2" [ngValue]="data.sate">{{data.sate}}</option>
          
        </select>
        <div>  <label class="form-label mt-2" for="">State Location</label></div>
        </div>

        <div class="form-group input-group-lg form-outline mb-4"   >
          <select class="form-select" aria-label="Default select example" formControlName="city" (change)="onChangeCity($event.target)">
            <option selected value="">Select LGA</option>
            <option *ngFor="let data of city2" value="{{data}}">{{data}}</option>
            
          </select>
          <div>  <label class="form-label mt-2" for="">LGA Location</label></div>
          </div>
      <button type="submit" class="btn btn-info h-50 ms-2" >search</button>
    </div>

     </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Send message</button> -->
      </div>
    </div>
  </div>
</div>
