/* .contain {
  height: 100%;
  min-height: 100%;
  width: 100%;
  
  padding-top: 60px;
}
.body1{
  
  display: flex;

  justify-content: space-around;
}
.body1 :hover{
  background-color: white;
  
}
.body1 img{
  
  height: 60px;
  width: 100px;
}
.body2{
  height: 130px;
  width: 200px;
border-radius: 5px;
  border: 0.5px solid rgb(250, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: none;
  border-left: none;
}
.wrapper {

  height: 604.188px;
  display: flex;
  flex-direction: column;
 
  
}
.wrappertext{
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    font-family: Proximanova,sans-serif;
    text-transform: uppercase;
    margin: 100px 40px 0px 40px;

  }  

.wrapper1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid rgb(211, 204, 204);
  color: #666;
  font-size: 14px;
  font-weight: 400;
  font-family: Proximanova,sans-serif;
  text-transform: uppercase;
}
.section {
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 5px;
  display: flex;

}
.section1 {
  height: 100%;
  width: 370px;
  display: flex;
  background-color: #000000;
 
}
.section1 img {
  height: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;

}
.section2 {
  height: 100%;
 
  display: flex;
  flex-wrap: wrap;

}
.section2 :hover {
  background-color: #f5f5f5;
}
.section2 img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
 
  background-color: blanchedalmond;
}
.body {
  height: 150px;
  width: 250px;

  border: 0.5px solid rgb(250, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: none;
  border-left: none;
}


.section2 :hover {
  background-color: #f5f5f5;
}
.section1img{

border: 10px solid #f5f5f5;
}


.guarantee{
   height: auto;
    width: auto;
  
    border: 2px solid white;
    margin: 40px 0px 0px 40px;
    background-color: rgb(245, 247, 248);
}

.guaranteewrwpper{
    display: flex;
    flex-direction: column;
 
    align-items: center;
}
.icontext{
    display: flex;
}
.btn{
    background-color: #000000;
    height: 50px;
    width:150px;
    color: #ffd700;
    border-radius: 15px;
    margin: 50px;
    border: 2px solid #ffd700;
    font-weight: bold;
}


.sponsor{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 60px 0px 0px 40px;
 
} 

.number{
    display: flex;
    width: 1200px;
    justify-content: space-around;
}
.tags{
  display: flex;
  flex-direction: row;
}

.box1{
  margin-bottom: 40px;
}
.box2{
  margin-bottom: 50px;
}
.text{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;

}
.card{
  background-color: #f5f7f8;
  border-radius: 5px;
  border: 1px solid blanchedalmond;
}
.caros{
  height: 100px;
  width: 100%;
}
.caros img{
  height: 150px;
  width: 350px;
} */


.background1{
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background-image: linear-gradient( to right,#faf2f2, #fff); */
  background-image: url("/assets/images/banner_background.jpg");
  height: 100%;
  display: flex;
  justify-content: center;
}
.background2{
  background-image: url("/assets/images/banner_2_background.jpg");
  height: 100%;
}
.background3{
  background-image: url("/assets/images/banner_background.jpg");
  height: 100%;
}

