


.background1{
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background-image: linear-gradient( to right,#faf2f2, #fff); */
  background-image: url("/assets/images/banner_background.jpg");
  height: 100%;
  display: flex;
  justify-content: center;
}
.background2{
  background-image: url("/assets/images/banner_2_background.jpg");
  height: 100%;
}
.background3{
  background-image: url("/assets/images/banner_background.jpg");
  height: 100%;
}

.boto{font-family: ' Roboto', sans-serif;
}
