<div>
  <div>
    <mat-sidenav-container>
      <mat-sidenav-content opened>
        <div>
          <div>
            <form
              [formGroup]="formValue"
              (ngSubmit)="updateUserDetails(this.formValue.value)"
            >
              <section
                class="col w-100 justify-content-flexstart align-items-center p-2 p-md-5"
              >
                <div class="h5 text-success">EDIT INFORMATION</div>

                <div class="col align-items-end d-flex">
                  <div class="col-4 col-md-2 rounded-circle me-3">
                    <ngx-avatar
                      *ngIf="userData"
                      size="130"
                      name="{{ userData.firstName }} {{ userData.lastName }}"
                    ></ngx-avatar>
                    <!-- <img src="assets/images/avatar1.webp" class=" img-fluid bg-success rounded" /> -->
                  </div>
                </div>
              </section>
              <!-- <mat-divider></mat-divider> -->

              <section class="w-100 p-2 ps-md-5">
                <div>
                  <div class="h5">ACCOUNT INFORMATION</div>
                  <div>
                    <div class="mb-3 row">
                      <label for="inputtext" class="col-sm-2 col-form-label"
                        >First Name</label
                      >
                      <div class="col-sm-4">
                        <input
                          type="text"
                          class="form-control"
                          id="inputfirstName"
                          formControlName="firstName"
                          [(ngModel)]="userData.firstName"
                        />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label"
                        >Last Name</label
                      >
                      <div class="col-sm-4">
                        <input
                          type="text"
                          class="form-control"
                          id="inputlastName"
                          formControlName="lastName"
                          [(ngModel)]="userData.lastName"
                        />
                      </div>
                    </div>

                    <div
                      class="form-group form-outline mb-4 d-flex"
                      *ngIf="isEditMode"
                    >
                      <label
                        for="inputtext"
                        class="col-sm-2 col-form-label me-2"
                        >STATE</label
                      >
                      <select
                        class="form-select"
                        style="width: 32%"
                        aria-label="Default select example"
                        formControlName="state"
                        (change)="onChangeState($event.target)"
                      >
                        <option value="" selected disabled>Select State</option>
                        <option
                          *ngFor="let data of state2"
                          [ngValue]="data.sate"
                        >
                          {{ data.sate }}
                        </option>
                      </select>
                    </div>

                    <div
                      class="form-group form-outline mb-4 d-flex"
                      *ngIf="isEditMode"
                    >
                      <label
                        for="inputtext"
                        class="col-sm-2 col-form-label me-2"
                        >LGA</label
                      >
                      <select
                        class="form-select"
                        style="width: 32%"
                        aria-label="Default select example"
                        formControlName="city"
                        (change)="onChangeCity($event.target)"
                      >
                        <option selected value="">{{ userData.city }}</option>
                        <option *ngFor="let data of city2" value="{{ data }}">
                          {{ data }}
                        </option>
                      </select>
                    </div>
                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label"
                        >Address</label
                      >
                      <div class="col-sm-4">
                        <input
                          type="text"
                          class="form-control"
                          id="inputlastName"
                          formControlName="address"
                          [(ngModel)]="userData.address"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label"
                        >mobile number</label
                      >
                      <div class="col-sm-4">
                        <input
                          type="text"
                          class="form-control"
                          id="inputlastName"
                          formControlName="phoneNumber"
                          [(ngModel)]="userData.phoneNumber"
                        />
                      </div>
                    </div>
                    <!-- <button class="btn btn-success">submit</button> -->
                  </div>
                </div>
              </section>

              <button
                class="btn btn-outline-success mx-1 mb-4 ms-5"
                (click)="toggleEditMode(userData)"
                *ngIf="!isEditMode"
              >
                edit profile
              </button>

              <button
                *ngIf="isEditMode"
                type="submit"
                class="btn btn-outline-info mb-4 mb-4 ms-5 me-2"
              >
                Update Profile
              </button>
              <button
                (click)="toggleEditMode(userData)"
                *ngIf="isEditMode"
                class="btn btn-outline-danger mb-4"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
