<ng-container>
    <mat-toolbar class="col-12 d-flex justify-content-between px-5">
        <div>
                <!-- helloo -->

         </div>
           <div>
            <button routerLink="Carts" class="btn btn-primary">
                <i class="fas fa-cart-plus me-2" style="font-size: 30px;"></i>
                <div *ngIf="this.loginApi.loggedIn()" class="badge bg-danger" style="font-size: 10px;" >{{apiLength}}</div>
                <div *ngIf="!this.loginApi.loggedIn()" class="badge bg-danger" style="font-size: 10px;" >{{this.cartService.value.length}}</div>
            </button>
           </div>
        

             
      </mat-toolbar>
    <router-outlet></router-outlet>
</ng-container>