<div class="head">
  <nav class="navbar navbar-expand-lg nav1">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand logo" routerLink="/dashboard"></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link partner" routerLink="/signup"
              ><i class="bi bi-people-fill partner2"></i>Become A Partner</a
            >
          </li>
        </ul>

        <button
          class="loginbtn"
          routerLink="/signin"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          LOGIN
        </button>
        <div class="login">
          <form class="d-flex search-bar">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <i class="bi bi-search"></i>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse  navbar-collapse" id="navbarNavDarkDropdown">
      <ul class=" navbar-nav">
        <li class=" nav-item dropdown">
          <a 
          class="header2  nav-link dropdown-toggle" 
          routerLink="acrepair" 
          id="navbarDarkDropdownMenuLink" 
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            AC REPAIR
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="acrepair" ></a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>
        <li class="header2 nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="carpentary" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CARPENTRY
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="electrician" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ELECTRICAL
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="plumbing" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           PLUMBING
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">SIGN IN</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="signinForm" (ngSubmit)="signin()">
          <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            <input
              required
              formControlName="email"
              type="text"
              class="form-control form"
            />
            <span
              class="alert alert-danger"
              *ngIf="
                signinForm.controls['email'].dirty &&
                signinForm.hasError('required', 'email')
              "
              >this password required</span
            >
          </div>
          <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input
              formControlName="password"
              type="password"
              class="form-control"
            />
            <span
              class="text-danger"
              *ngIf="
                signinForm.controls['password'].dirty &&
                signinForm.hasError('required', 'password')
              "
            >
              this password required</span
            >
          </div>

          <!-- <button [disabled]="signinForm.invalid" type="submit" class="btn btn-primary" >Sign In</button> -->
        </form>
        <a class="newuser" href="">New User ? Sign Up</a>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="signinForm.invalid"  routerLink="/dashboard" id="cancel"  class="btn btn-secondary" data-bs-dismiss="modal">Sign In</button>
        <!-- <button
          [disabled]="signinForm.invalid"
          type="submit"
          class="btn c"
          routerLink="/dashboard"
          id="cancel"
        >
          Sign In
        </button> -->
      </div>
    </div>
  </div>
</div>
