.nav1{
    background-color: #000000;
    height: 80px;
    color: white;
    /* min-height: 100%; */
}


.logo{
    height: 65px;
    background-color: #ffd700;
    width: 65px;
    border-radius: 50%;
}
.bi-search{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
   position: absolute;
   z-index: 0;
   justify-content: end;
   padding-left: 21% ; 
   padding-top: 15px;

}
.search-bar{
    width: 400px;
}
.login{
    display: flex;
}
.loginbtn{
height: 40px;
width: 80px;
border-radius: 40px;
margin-right: 15px;
font-weight: bold;
background-color:#ffd700;
color: #000000;
/* border: 1px solid #000000 */
}
.partner{
    font-weight: 50px;
    color: #ffd700;
    font-size: 20px;
}

.partner2{
    margin-right: 5px;
}
.newuser{
    text-decoration: none;
    font-size: 20px;
    color: #38006b;
    font-weight: 30px;
}
.btn{
    background-color: #000000;
    height: 50px;
    width:100px;
    color: white;
    border-radius: 15px;
}
.modal-dialog{
    color: #ffd700;
}
.form{
    border: 10px bold #ffd700;
}
.header2{
    color: #ffd700;
}