<div class="d-flex">
  <div class="container-fluid">
    <!-- PROFILE CARDS 1 -->

    <div class="cards-6 section-gray">
      <div class="container-fluid w-100">
        <div class="h4">Availabe Artisans within your location</div>

<div class="w-50 mb-5">
  <input class="form-control" type="text" placeholder="State and LGA Search" name="location" [(ngModel)]="location" (ngModelChange)="Search()" />

</div>
     
       
        <div class="row mt-3">
          <div
            class="col-md-4"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            *ngFor="
              let data of artisanData
                | paginate
                  : {
                      id: 'listing_pagination',
                      itemsPerPage: 6,
                      currentPage: page,
                      totalItems: totalRecord
                    }
                | filter: '':'searchArtisan'|sort:['email','asc']
            "
          >
            <div class="card card-profile  " (click)="onEdit(data)">
              <div class="card-avatar  ">
                <a>
                  <img class="img-fluid  " size="110" *ngIf="data.profileImage" src="data:image/png;base64,{{ data.profileImage}}" />
                 <div class="img " *ngIf="!data.profileImage "><ngx-avatar size="130" name="{{data.firstName}} {{data.lastName}}"></ngx-avatar></div>
                  <!-- <img class="img img-fluid " *ngIf="!data.profileImage" src="/assets/images/avatar1.webp" /> -->
                </a>
              </div>

              <div class="table">
                <h4 class="card-caption">
                  {{ data.name }} 
                 
                </h4>
                <p class="category text-muted h6 pt-3">{{ data.firstName }} {{data.lastName}}</p>
                <p class="card-description text-center">
                  15 years working experience.
                </p>

                <div class="d-flex justify-content-between">
                  <div class="list-inline-item mt-2 small">
                    <i class="bi bi-geo-alt-fill"></i>{{ data.location }}
                  </div>
                  <div>
                    <ul class="">
                      <li class="list-inline-item me-0 small">
                        <i class="bi bi-star-fill text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="bi bi-star-fill text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="bi bi-star-fill text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="bi bi-star-fill text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star-fill text-warning"></i>
                      </li>
                      <li class="list-inline-item ms-2 h6 fw-light mb-0">
                        4.0/5.0
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="location">asdfghjkl</div>
      </div>
    </div>
  </div>
</div>

<div>
  
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Send Your Request</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- modal form -->
        <form
          [formGroup]="formValue" (ngSubmit)="submitCheck(this.formValue.value)"
         
         
        >
        <!-- (ngSubmit)="createnewService(this.formValue.value)" -->
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="exampleInputText"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Address</label
            >
            <input
              formControlName="propertyAddress"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        

         
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Whatsapp Number</label
            >
            <input
              formControlName="mobilenumber"
              type="number"
              class="form-control"
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Alternative Number</label
            >
            <input
              formControlName="mobilenumber"
              type="number"
              class="form-control"
            />
          </div>
       

      <div>
          <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
      </div>
          
  <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Description</label
            >
            <input
              formControlName="issue"
              type="textarea"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Inspection Date and Time</label
            >
            <input
              formControlName="inspectionDate"
              type="datetime-local"
              [(ngModel)]="value"
              #input
              (change)="onChange(input.value)"
            />
          </div>
    
         <div class="mb-1">
          <input type="file" name="profile" (change)="onFileSelect($event)" formControlName="file" />
         </div>

         <div class="form-group">
          <label for="file">File</label>
          <input 
              formControlName="files"
              id="file" 
              type="file" 
              multiple
              class="form-control"
              (change)="onFileChange($event)">
          <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
              <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
          </div> -->
      </div>


<button class="btn btn-info" type="submit">Send</button>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button  (click)="createnewService(this.formValue.value)" class="btn btn-info" data-bs-dismiss="modal">
          Send
        </button> -->
      
        <!-- <button *ngIf="showAddEmployee" type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add Employee</button> -->
        <!-- <button *ngIf="showUpdate" type="button" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button> -->
      </div>


      
      
   
    </div>
  </div>
</div>
