
<div>
  <div >
    
    <mat-sidenav-container >
      
      <mat-sidenav #sidenav="matSidenav" mode="over" opened class="col-6 col-md-3" >
        <mat-toolbar class="w-100 d-flex justify-content-end pt-5 mt-5">
          <!-- <div *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->
                   
            <mat-icon *ngIf="sidenav.opened && sidenav.mode === 'over'" (click)="sidenav.toggle()" class="d-flex justify-content-end">close</mat-icon>
            <!-- <i class="bi bi-arrow-left-circle" *ngIf="sidenav.opened" ></i> -->
      
          <!-- </div> -->
        </mat-toolbar>


        <div class="w-100 d-flex flex-column align-items-center ">
          <img  *ngIf="userData.profileImage"
          src="data:image/png;base64,{{userData.profileImage}}" alt=""
          class="img-fluid bg-success rounded-circle w-50"
        />
        <ngx-avatar *ngIf="!userData.profileImage " size="130" name="{{userData.firstName}} {{userData.lastName}}"></ngx-avatar>
        
          <h4 class="mt-2 mt-md-4">{{userData.firstName}} {{userData.lastName}}</h4>
          <h4>{{userData.service}}</h4>
          <h4>{{userData.email}}</h4>
        
         
         </div>
       
        <h4></h4>
       <hr class="divider">
        <div class=" icons w-100 p-4">
          <div  class="p-3 cursor" [class.active]="expression == 'match1'" (click)="expression = 'match1' ; sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"
            ><i class="bi bi-grid-3x3-gap"></i> DASHBOARD</div
          >
         
          <div class="p-3 cursor"  [class.active]="expression == 'match2'" (click)="expression = 'match2';sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true" ><i class="fa-solid fa-cart-shopping "></i> MY ORDERS</div>
          <div class="p-3 cursor"  [class.active]="expression == 'match3'" (click)="expression = 'match3' ;sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"><i class="fa-solid fa-list"></i> QUOTE</div>
          

          
          
        </div>
    
      <hr class="divided">
     

    
      <!-- <mat-divider></mat-divider> -->
      </mat-sidenav>
      <mat-sidenav-content opened>

 
        
        
        <div class="content mat-elevation-z4 flex-column ms-3; ms-lg-4 mt-5 pt-5 ">
          <mat-toolbar class="col-12">
            <div class="d-lg-none">
              <mat-icon (click)="sidenav.toggle()" *ngIf="!sidenav.opened && sidenav.mode === 'over'">label_important</mat-icon>
            </div>
  
            <nav class="navbar-default navbar w-100 navbar-expand float-right">
              <a id="nav-toggle" >
                <i class="bi bi-menu"></i>
              </a>
           
  
              
              <!--Navbar nav -->
              <ul
                class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap"
              >
                <li class="dropdown stopevent">
                  <a
                    class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted position-relative bg-info"
                  
                    role="button"
                    id="dropdownNotification"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="bi bi-bell"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-danger fs-6" >
                      {{signalRService.notificationCount}}
                      </span>
                  </a>
               <div
                    class=" dropdown-menu dropdown-menu-end notify"
                    aria-labelledby="dropdownNotification"
                  >
                    <div class="">
                      <div
                        class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center"
                      >
                        <span class="h4 mb-0">Notifications</span>
                        <a  class="text-muted">
                          <span class="align-middle">
                            <i class="bi bi-settings me-1"></i>
                          </span>
                        </a>
                      </div>
                      <!-- List group -->
                      <ul
                        class="list-group list-group-flush notification-list-scroll"
                      >
                        <li class="list-group-item bg-light">
                          <div class="row">
                            <div class="col">
                              <a class="text-body" >
                               
                                  
                                  <div class="ms-3" *ngFor=" let data of signalRService.notificationText; let i = index ">
                                    <!-- <h5 class="fw-bold mb-1">Kristin Watson:</h5> -->
                                   <div class="text-wrap"  (click)="onclickNotification(data.notificationId)">
                                    <span class="me-2" >
                                      {{i+1}}
                                     
                                    </span>
                                  {{data.notificationText }}
                                    
                                   </div>
                                   
                                  </div>
                              
                              </a>
                            </div>
                           
                          </div>
                        </li>
                     
                        
                       
                      </ul>
                      
                    </div>
                  </div>
                </li>
                <!-- List -->
              
              </ul>
            </nav>
  
 
          </mat-toolbar>
    
    <div [ngSwitch]="expression">
      <div *ngSwitchCase="'match1'" >
        <form [formGroup]="formValue" (ngSubmit)="updateUserDetails(this.formValue.value)">
          <section
            class="col w-100 justify-content-flexstart align-items-center p-2 p-md-5  "
          >
         
          
            <div class="h5 text-success">EDIT INFORMATION </div>

            <div class="col align-items-end d-flex">
              <div class="col-4 col-md-2 rounded-circle me-3 ">
                <ngx-avatar size="130" name="{{userData.firstName}} {{userData.lastName}}"></ngx-avatar>
                <!-- <img src="assets/images/avatar1.webp" class=" img-fluid bg-success rounded" /> -->
              </div>
             

             
            </div>
          </section>
          <!-- <mat-divider></mat-divider> -->

          <section class="w-100 p-2 ps-md-5">
            <div>
              <div class="h5">ACCOUNT INFORMATION</div>
             <div>
                <div class="mb-3 row">
                  <label for="inputtext" class="col-sm-2 col-form-label"
                    >First Name</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputfirstName"
                      formControlName="firstName" 
                      [(ngModel)]="userData.firstName"
                      
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Last Name</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputlastName"
                      formControlName="lastName" 
                      [(ngModel)]="userData.lastName"
                    />
                  </div>
                </div>
               
                <div class="form-group form-outline mb-4 d-flex" *ngIf="showUpdate">
                  <label for="inputtext" class="col-sm-2 col-form-label"
                  >STATE</label
                >
                  <select class="form-select " style="width: 32%;" aria-label="Default select example" formControlName="state" (change)="onChangeState($event.target)">
                    <option value="" selected disabled>Select State</option>
                    <option *ngFor="let data of state2" [ngValue]="data.sate">{{data.sate}}</option>
                    
                  </select>
                  </div>
                  

                  <div class="form-group form-outline mb-4 d-flex"  *ngIf="showUpdate" >
                    <label for="inputtext" class="col-sm-2 col-form-label"
                    >LGA</label
                  >
                    <select class="form-select" style="width: 32%;" aria-label="Default select example" formControlName="city" (change)="onChangeCity($event.target)">
                      <option selected value="">Select Location</option>
                      <option *ngFor="let data of city2" value="{{data}}">{{data}}</option>
                      
                    </select>
                    </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Address</label
                  >
                  <div class="col-sm-4">
                    <input
                    type="text"
                    class="form-control"
                    id="inputlastName"
                    formControlName="address" 
                    [(ngModel)]="userData.address"
                    />
                  </div>
                </div>
              
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >mobile number</label
                  >
                  <div class="col-sm-4">
                    <input
                    type="text"
                    class="form-control"
                    id="inputlastName"
                    formControlName="phoneNumber" 
                    [(ngModel)]="userData.phoneNumber"
                    />
                  </div>
                </div>
                <!-- <button class="btn btn-success">submit</button> -->
              </div>
            </div>
          </section>
          
          <button class="btn btn-outline-success mx-1 mb-4 ms-5" *ngIf="!showUpdate" (click)="onEdit()">edit profile</button>

          <button *ngIf="showUpdate" type="submit"  class="btn btn-outline-info mb-4 mb-4 ms-5 me-2">Update Profile</button>
          <button *ngIf="showUpdate" (click)="onEdit()" class="btn btn-outline-danger mb-4">Cancel</button>

          </form>

         
          

          <!-- <section class="p-2 mb-5 ps-md-5 butt">
            <div class="d-flex">
              <button
                href="#collapseExample"
                class="btn btn-outline-success mx-1"
                data-bs-toggle="collapse"
                
                aria-expanded="false"
                aria-controls="collapseExample"
                >Change password</button
              >
              <button class="btn btn-outline-primary mx-1 btn-sm">
                Change password
              </button>
              <button class="btn btn-outline-success mx-1" *ngIf="!showAddEmployee" (click)="onEdit()">edit profile</button>
              <button *ngIf="showAddEmployee" type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add Employee</button>
              <button *ngIf="showUpdate" type="submit"  class="btn btn-inline-primary">Update</button>
              <button class="btn btn-outline-danger mx-1" >
                Delete Account
              </button>
            </div>
            <div class="collapse pt-4" id="collapseExample">
               <div class="card card-body">
                <h2>ChANGE PASSWORD</h2>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >New Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Confirm Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
              </div>
              <button class="btn btn-success mt-3">Update Changes</button> -->
            
            <!-- </div> -->
          <!-- </section>  -->
          </div>


          <div *ngSwitchCase="'match2'" class="p-3">
            <div class="h4">Job History</div>

          <section>
            <div class="row d-flex  " >
              <div class="d-flex col-6">
                <div class="col-md-3 " >
                  <input type="date"   [(ngModel)]="fromDate1" class="me-2" >
      
                </div>
                <div class="col-md-3 ">
                  <input type="date" style=" margin-right: 3px;" [(ngModel)]="toDate1" >
      
                </div>
                <div class="col-md-2 h-50" >
                  <button class="btn btn-danger " (click)="filterByDate()">Search</button>
      
                </div>
              </div>
           
      <div class="col-12  col-md-6 mb-3 float-right">        <input type="text" placeholder="filter with jobDescription"  name="value" [(ngModel)]="value" (keyup)="Search($event.target) " >      
      </div>
           
          </div>
            <div id="no-tables">
              <table class="table table-striped" *ngIf="orderData">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th>Inspection Date</th>
                    <th>Completion Date</th>
                    <th scope="col" (click)="sort('id')" >Order ID&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col">Issue</th>

                    <th scope="col">Location</th>
  
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
  
                    
                    
                </tr>
                </thead>
                <tbody *ngFor="let data of filteredOrderData | paginate: { itemsPerPage:5, currentPage:p}; ">
                  <tr>
                    <td  data-title="Date">{{data.date}}</td>
                    <td data-title="inspection Date">{{data.inspectionDate}}</td>
                    <td data-title="Completion Date">{{data.completionDate }}</td>
                    <td data-title="Order ID">{{data.uniqueId}}</td>
                    <td data-title="Issue"   title="{{data.issue}}" class="but" >{{(data.issue.length>6)? (data.issue | slice:0:7)+'...':(data.issue)}}</td>
                    <td data-title="Location">{{data.propertyAddress}}</td>
                    <td data-title="status" *ngIf="!data.isCancelled && data.action === 0">Awaiting Approval</td>
                    <td data-title="status" *ngIf="!data.isCancelled && data.action === 1">Awaiting Approval</td>
                    <td data-title="status" *ngIf="!data.hasInvoice && data.action === 2">Awaiting Quote</td>
                    <td data-title="status" *ngIf="data.hasInvoice && data.action === 2">Invoice Created</td>
                    <td data-title="status" *ngIf="data.hasInvoice && data.action === 3">Artisan Canceled</td>
                    <td data-title="status" *ngIf="data.action === 4">Completed</td>
                    <td data-title="status" *ngIf="data.action === 5">Canceled</td>

                    <!-- <td data-title="Artisan's Name">{{data.artisanName}}</td> -->
                    <td data-title="Action">
                      <!-- <button (click)="onEditOrder(data)" class="btn btn-info me-2" *ngIf="!data.isApproved" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Edit
                      </button> -->
                      <button class="btn btn-info me-2" (click)="openModal(template2); onClickViewOrder(data)">View Order</button>
                      <button class="btn btn-info mt-3 mt-md-0" *ngIf="!data.isCancelled && data.action === 1">Awaiting  Approval</button>
                      <button class="btn btn-info mt-2 mt-md-0" *ngIf="!data.isCancelled && data.action === 0">Awaiting  Approval</button>
                      <button class="btn btn-warning" *ngIf="!data.hasInvoice && data.action === 2">Awaiting Quote</button>
                      <button class="btn btn-warning" *ngIf="data.hasInvoice && data.action === 2">Quote Created</button>
                      <button class="btn btn-warning" *ngIf="data.hasInvoice && data.action === 3 ">Artisan Canceled</button>
                      <button class="btn btn-success me-2" *ngIf="!data.isCancelled && data.action === 4">Completed</button>
                      <button class="btn btn-danger me-2" *ngIf="data.action === 5">Canceled</button>
                      
                      <button class="btn btn-success me-2" (click)="toggleEditMode()" *ngIf="data.isApproved">Processing</button>
                      

                      <button type="button" class="btn btn-dark" (click)="openModal(template); onClickRating(data)" *ngIf="data.action === 4 && data.artisanRating == null " >Rate</button>

                      <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" onEditOrder(row)" >Update</button> -->
                   
                      <!-- <button class="btn btn-danger " *ngIf="!data.isApproved"  (click)="deleteOrder(data)">Delete</button> -->
                    </td>
                    
                  </tr>
                
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
            

           
          </section>
          <section class="pt" *ngIf="!orderData">
          <app-emptycart></app-emptycart>
          </section>
        </div>


        <!-- Quote section -->
        <div *ngSwitchCase="'match3'" class="p-3">
         
          <section>
            <mat-toolbar class="text-success w-100 justify-content-between m-3">
              <div>Quote History</div>
           
            </mat-toolbar>
            <div class="row d-flex  " >
              <div class="d-flex col-6">
                <div class="col-md-3 " >
                  <input type="date"   [(ngModel)]="fromDate1" class="me-2" >
      
                </div>
                <div class="col-md-3 ">
                  <input type="date" style=" margin-right: 3px;" [(ngModel)]="toDate1" >
      
                </div>
                <div class="col-md-2 " >
                  <button class="btn btn-danger h-75" (click)="filterByDate2()">Search</button>
      
                </div>
              </div>
           
      <div class="col-12  col-md-6 mb-3 float-end">        <input type="text" placeholder="filter with jobDescription"  name="value" [(ngModel)]="value" (keyup)="quoteSearch($event.target) " >      
      </div>
           
          </div>
            <div id="no-tables">
              <table class="table table-striped" *ngIf="getInvoice">
                <thead>
                  <tr>
                    <td scope="col">Date</td>
                    <th scope="col">  Invoice ID</th>
                    <th scope="col">  Artisan's Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Order Categories</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Action</th>
                  
                  </tr>
                </thead>
             
                <tbody *ngFor="let i=index,let data of filteredQuoteData  | paginate: { itemsPerPage:5, currentPage:page}; ">
                  <tr>
                    <td  data-title="Date">{{data.date}}</td>
                    <td  data-title="Invoice ID">{{data.invoiceId}}</td>
                    <td data-title="Artisan's Name">{{data.artisanInfo.name}}</td>
                    <td data-title="Phone Number">{{data.customerInfo.phoneNumber}}</td>
                    <td data-title="Order Categories">{{data.artisanInfo.profession}}</td>
                    <!-- <td data-title="Issue">{{data.jobDescription}}</td> -->
                    <td data-title="Issue"  data-title="{{data.jobDescription}}" class="butt" >{{(data.jobDescription.length>6)? (data.jobDescription | slice:0:10)+'...':(data.jobDescription)}}</td>

                    <td data-title="Location">{{data.serviceOrderAddress}}</td>
                    <td data-title="Status" *ngIf="data.action ===6 ">Canceled</td>
                    <td data-title="Status" *ngIf="data.action ===4 ">Canceled</td>
                    <td data-title="Status" *ngIf="data.action ===3 ">Approved</td>
                    <td data-title="Status" *ngIf="data.action ===2 ">Pending</td>
                    <td data-title="Status" *ngIf="data.action ===1 ">Awaiting Approval</td>
                    <!-- <td data-title="Status" *ngIf="data.action ===4 ">Paid</td> -->
                    <td data-title="Status" *ngIf="data.action ===5 ">Paid</td>
                    <td data-title="Total Amount">{{data.invoiceTotal}}</td>
                    <td data-title="Action">
                     
                      <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onClickInvoce(data)" >View Quote</button>

                      
                   
                   
                    </td>
                  </tr>
                
                </tbody>
              </table>
              <pagination-controls (pageChange)="page = $event"></pagination-controls>

            </div>
            

           
          </section>
          <section class="pt" *ngIf="!orderData">
          <app-emptycart></app-emptycart>
          </section>
        </div>
        </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<!-- modal to view invoice -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <div>
            <h4>Artisan Details</h4>
            <h5>Name: <span>{{artisanName}}</span></h5>
            <h5>Email: <span>{{artisanEmail}}</span></h5>
            
          <h5> PhoneNumber: <span>{{artisanPhoneNumber}}</span></h5>
        <h5> Profession: <span>{{artisanProfession}}</span></h5>
          </div>
          <div>
            <h4>User Details</h4>
            <h5>Name: <span>{{userName}}</span></h5>

            <h5>Email: <span>{{userEmail}}</span></h5>
          <h5> PhoneNumber: <span>{{userPhoneNumber}}</span> </h5>
          <h5> Total: <span class="h5">{{allTotal}}</span> </h5>
 
          </div>
        </div>
       
        <div class="card border-secondary mt-2 mb-5">
          <div class="card-body">
            <!-- <h4 class="card-title d-flex justify-content-between">Items Details <button type="button" class="btn btn-primary" (click)="addRow()">+</button></h4> -->
  
  
            <form action="" #invoiceBody="ngForm">
              <div *ngFor="let obj of serviceItemsDetails;let i=index">
            <div class="row" >
  
              <div class="col-md-3">
                <label>Item Name</label>
                <input type="text" class="form-control" name="name{{i}}" [(ngModel)]="obj.name" #name3="ngModel" disabled  required >
  
                <!-- <div class="alert alert-danger" *ngIf="!name3.valid">
                  <span *ngIf="name3?.errors?.required">This field is required</span>
                </div> -->
              </div>
              <div class="col-md-3">
                <label>Unit Price</label>
                <input type="number" class="form-control" name="p rice{{i}}" [(ngModel)]="obj.price" #name4="ngModel" disabled  required>
  
                <!-- <div class="alert alert-danger" *ngIf="!name4.valid">
                  <span *ngIf="name4?.errors?.required">This field is required</span>
                </div> -->
              </div>
              <div class="col-md-3">
                <label>Quantity</label>
                <input type="number" class="form-control" name="quantity{{i}}" [(ngModel)]="obj.quantity" #name5="ngModel" disabled  required>
  
                <!-- <div class="alert alert-danger" *ngIf="!name5.valid">
                  <span *ngIf="name5?.errors?.required">This field is required</span>
                </div> -->
  
              </div>
              <div class="col-md-2">
                <label>Total</label><br>
                <input type="number" class="form-control" name="total{{i}}" [(ngModel)]="obj.total" disabled>
  
              </div>
  
              <div class="col-md-1" *ngIf="i!=0">
                <!-- <button class="btn btn-danger" style="margin-top:30px" (click)="removeRow(i)">-</button> -->
              </div>
  
  
  
             </div>
  
            </div>

            <div class="d-flex mt-3">
              <div class="me-4">Service Charge : <input type="text" [(ngModel)]="artisanCharge" [ngModelOptions]="{standalone: true}" disabled></div>
              <div>Inspection Fee : <input type="text" [(ngModel)]="inspectionFee" [ngModelOptions]="{standalone: true}" disabled>  </div>
            </div>
           <div class="mt-2">
            <label>Job Description</label><br>

            <div class="form-floating mt-1">

              <textarea class="form-control" 
               required disabled>{{jobDescription}}</textarea>
              <!-- <label for="floatingTextarea">Description of Job to be done</label> -->
            </div>
           </div>

            <div>
<div class="d-flex mt-3">
  <!-- <h4 class="mt-2 me-2">Service Charge :</h4><input type="text" name="artisanCharge"   [(ngModel)]="artisanCharge " disabled> -->
</div>  
<div class="d-flex mt-3 ">
  <!-- <h4 class="mt-2 me-2"> Inspection fee :</h4><input type="text" name="inspectionFee"  [(ngModel)]="inspectionFee" disabled> -->

</div>
          </div>

            </form>
  
 <div *ngIf="isFirstTimeCustomer"> 
<p><span class="fs-6 fw-bold">NOTE:</span> Free Inspection Fee is only availabe to First- time Users</p>
 </div>
            </div>
            
  
          </div>
  
            
      <div class="modal-footer">

        <button class="btn btn-danger me-2" data-bs-dismiss="modal"  aria-label="Close" >Cancel</button>
        <button class="btn btn-danger me-2" (click)="userCancelQuote(getInvoice)" *ngIf="invoiceAction=== 2">Reject Quote</button>
        <button class="btn btn-info" (click)="userAprroveQuote(getInvoice.invoiceId)" *ngIf="invoiceAction=== 2"> Make Payment</button>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info">Update</button> -->
      </div>
    </div>
  </div>
</div>


<!--rating modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submitRating(this.form.value)">
      <div>
       <ngx-star-rating formControlName="rating" [id]="'rating3'"></ngx-star-rating>
       <div>Rating: {{form.value.rating}}</div>
      </div>
       <!-- <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->

       <div class="mb-3 row">
         <label for="" class=" "
           >Comment</label
         >
         <div class="">
           <input
             type="text"
             class="form-control"
             id="inputText"
             formControlName="comment"
           />
         </div>
       </div>
       <button class="btn btn-danger" type="submit">submit</button>
   </form>
    
  </div>
</ng-template>

<!-- view Order section -->
<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ORDER DETAILS</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" >

    <div><span> Order Date : </span><span class="h6">{{orderById.date}}</span></div>

<!-- <div><span>Pictures : </span><button class="h6">View Pictures</button></div> -->
<!-- <button mat-button matRipple class="purple-500 fuse-white-fg mr-12"; (click)="imageSource()">Display</button> -->
<div class="d-flex w-100" *ngFor="let data of orderById.filePaths, let i = index"> 
  <img class="image-fluid mb-1" style="height: 100px; width:100px;" src="data:image/png;base64,{{data.filePaths}}" *ngIf="hidden" />

</div>  
<div><span>Pictures : </span><span class="h6"><button  class="btn btn-info mt-2" (click)="imageSource()">View Pictures</button></span></div>



<div><span> Order ID : </span><span class="h6">{{orderById.uniqueId}}</span></div>

<div><span>Inspection Date : </span><span class="h6">{{orderById.inspectionDate}}</span></div>

<div><span>Job Description : </span><span class="h6">{{orderById.issue}}</span></div>

<div><span>Order Name : </span><span class="h6">{{orderById.name}}</span></div>

<!-- <div><span>Order Phone Number : </span><span class="h6">{{orderById.orderPhoneNumber}}</span></div> -->

<div><span>Order Phone Number : </span><span class="h6">{{orderById.phoneNumber}}</span></div>

<div><span> Address : </span><span class="h6">{{orderById.propertyAddress}}</span></div>


<!-- <div class="mt-3"><span> Customer's Email : </span><span class="h6">{{orderById.customerEmail}}</span></div>

<div><span> Customer's Name : </span><span class="h6">{{orderById.customerName}}</span></div>

<div><span>Customer's Phone Number : </span><span class="h6">{{orderById.customerPhoneNumber}}</span></div> -->


<div class="mt-3"> Artisan Name : <span></span><span class="h6">{{orderById.artisanName}}</span></div>

<div><span>Artisan Email : </span><span class="h6">{{orderById.artisanEmail}}</span></div>



<div><span>Artisan Address : </span><span class="h6">{{orderById.artisanLocation}}</span></div>



<div><span>Artisan Number : </span><span class="h6">{{orderById.artisanPhoneNumber}}</span></div>

<div class="d-flex my-2" *ngIf="!orderById.hasInvoice">
  <input type="date" class="me-3" *ngIf="hidden2" [(ngModel)]="this.feeForm.value.inspectionDateAndTime">

  <button class="btn btn-success me-2" *ngIf="!hidden2" (click)="changeFee()">Change Inspection Date</button>
  <button class="btn btn-danger me-2" *ngIf="hidden2" (click)="changeFee()">Cancel</button>
  <button class="btn btn-info me-2" *ngIf="hidden2" (click)="changeInspectionDate(orderById)"  >Change Date</button>

</div>  
<!-- <div><span>Artisan Ratings : </span><span class="h6">{{orderById.artisanRating}}</span></div> -->
<div><span class="mt-3">Artisan Ratings : </span><ngx-star-rating [id]="orderById.artisanRating" [(ngModel)]="orderById.artisanRating" [disabled]="true"></ngx-star-rating>
</div>




    
  </div>
</ng-template>