
<div>
  <div >
    
    <mat-sidenav-container >
      
      <mat-sidenav #sidenav="matSidenav" mode="over" opened class="col-6 col-md-3">
        <mat-toolbar class="w-100 d-flex justify-content-end">
          <div *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                   
            <!-- <mat-icon *ngIf="sidenav.opened" class="d-flex justify-content-end">close</mat-icon> -->
            <i class="bi bi-arrow-left-circle" *ngIf="sidenav.opened" ></i>
      
          </div>
        </mat-toolbar>
        <img src="assets/images/mayor.jpg" class="image image-fluid ">
        <!-- <h4 class="mt-2 mt-md-4">{{useData.email}}</h4> -->
        <div *ngIf="api.loggedIn();" >
          <h4 class="mt-2 mt-md-4">{{userData.email}} </h4>
        
          <li></li>
      
        </div>
        <h4></h4>
       <hr class="divider">
        <div class="icons py-2 py-md-5">
          <span class="pb-3" [class.active]="expression == 'match1'" (click)="expression = 'match1'"
            ><i class="bi bi-grid-3x3-gap"></i> DASHBOARD</span
          >
          <!-- <span class="pb-3" ><i class="bi bi-grid-3x3-gap" ></i> DASHBOARD</span> -->
          <!-- <span class="pb-3"><i class="bi bi-person"> </i> INFORMATION</span> -->
          <span class="pb-3" [class.active]="expression == 'match2'" (click)="expression = 'match2'" ><i class="bi bi-gear"> </i> MY ORDERS</span>
          <!-- <span class="pb-3"><i class="bi bi-arrow-down"></i> MY REVIEWS</span> -->
          <!-- <span class="pb-3"><i class="bi bi-grid-3x3-gap"></i> DASHBOARD</span> -->
        
          <hr class="divided">

          
          
        </div>
    
      <hr class="divided">
     

    
      <!-- <mat-divider></mat-divider> -->
      </mat-sidenav>
      <mat-sidenav-content opened>
        
        
        <div class="content mat-elevation-z4 flex-column ms-3; ms-lg-4">
          <div *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <!-- <mat-icon *ngIf="!sidenav.opened">menu</mat-icon> -->
            <i class="bi bi-arrow-right-circle" *ngIf="!sidenav.opened"></i>
         
            
      
          </div>
    
    <div [ngSwitch]="expression">
      <div *ngSwitchCase="'match1'" >
        <form [formGroup]="formValue" (ngSubmit)="updateEmployeeDetails()">
          <section
            class="col w-100 justify-content-flexstart align-items-center p-2 p-md-5"
          >
         
          
            <div class="h5 text-success">EDIT INFORMATION</div>

            <div class="col align-items-end d-flex">
              <div class="col-4 col-md-2 rounded-circle me-3 ">
                <img [src]="  profileimageUrl" class=" img-fluid bg-success rounded" />
              </div>
             

              <div class="align-text-bottom ">
             
                <label class="btn btn-default mt-2 p-0">
                  <input type="file" (change)="selectFile($event)" />
                </label>

               <button  (click)="upload()" class="btn btn-success mt-2">upload picture</button>

               <div *ngIf="currentFile" class="progress my-3">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }"
                >
                  {{ progress }}%
                </div>
              </div>

                <h4 class="d-none d-lg-block pt-2">
                  Acceptable format, jpg, png only<br /><span>
                    Max file size is 100kb and min size 70kb</span
                  >
                </h4>
              </div>
            </div>
          </section>
          <!-- <mat-divider></mat-divider> -->

          <section class="w-100 p-2 ps-md-5">
            <div>
              <div class="h5">ACCOUNT INFORMATION</div>
             <div>
                <div class="mb-3 row">
                  <label for="inputtext" class="col-sm-2 col-form-label"
                    >First Name</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputFirstName"
                      formControlName="firstName" 
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Last Name</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputlastName"
                      formControlName="lastName" 
                    />
                  </div>
                </div>

                <!-- <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >E-mail</label
                  >
                  <div class="col-sm-4">
                    <input
                     formControlName="email" type="text" class="form-control"
                      class="form-control"
                      id="inputEmail"
                    
                    />
                  </div>
                </div> -->
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Address</label
                  >
                  <div class="col-sm-4">
                    <input
                     formControlName="address" type="text" class="form-control"
                      class="form-control"
                      id="inputAddress"
                    
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >city</label
                  >
                  <div class="col-sm-4">
                    <input
                    formControlName="city" 
                      type="text"
                      class="form-control"
                      id="input"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >statr</label
                  >
                  <div class="col-sm-4">
                    <input
                    formControlName="state" 
                      type="text"
                      class="form-control"
                      id="input"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >mobile number</label
                  >
                  <div class="col-sm-4">
                    <input
                    formControlName="PhoneNumber" 
                      type="text"
                      class="form-control"
                      id="input"
                    />
                  </div>
                </div>
                <!-- <button class="btn btn-success">submit</button> -->
              </div>
            </div>
          </section>
          <button *ngIf="showUpdate" type="submit"  class="btn btn-inline-primary">Update</button>
          </form>
          

          <section class="p-2 mb-5 ps-md-5 butt">
            <div class="d-flex">
              <button
                href="#collapseExample"
                class="btn btn-outline-success mx-1"
                data-bs-toggle="collapse"
                
                aria-expanded="false"
                aria-controls="collapseExample"
                >Change password</button
              >
              <!-- <button class="btn btn-outline-primary mx-1 btn-sm">
                Change password
              </button> -->
              <button class="btn btn-outline-success mx-1" *ngIf="!showAddEmployee" (click)="onEdit()">edit profile</button>
              <!-- <button *ngIf="showAddEmployee" type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add Employee</button> -->
              <button *ngIf="showUpdate" type="submit"  class="btn btn-inline-primary">Update</button>
              <button class="btn btn-outline-danger mx-1">
                Delete Account
              </button>
            </div>
            <div class="collapse pt-4" id="collapseExample">
              <!-- <div class="card card-body">
                <h2>ChANGE PASSWORD</h2>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >New Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Confirm Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
              </div>
              <button class="btn btn-success mt-3">Update Changes</button> -->
              <form [formGroup]="form" (ngSubmit)="submitRating()">
               <div>
                <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
                <div>Rating: {{form.value.rating}}</div>
               </div>
                <!-- <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->

                <div class="mb-3 row">
                  <label for="inputPassword" class=" col-form-label"
                    >Comment</label
                  >
                  <div class="">
                    <input
                      type="textarea"
                      class="form-control"
                      id="inputText"
                      formControlName="comment"
                    />
                  </div>
                </div>
                <button class="btn btn-danger" type="submit">submit</button>
            </form>
            </div>
          </section>
          </div>


          <div *ngSwitchCase="'match2'" class="p-3">
          <section>
            <div class="col d-flex  justify-content-around">
              <div class="col-3 col1 d-flex flex-column p-3 ">
                <span>Total bill</span>
                <strong># 20,000</strong>
                <!-- <a href="">sdfghjk</a> -->
              </div>
              <div class="col-3 col2 d-flex flex-column p-3">
                <span>Total order</span>
                <strong>10</strong>
                <!-- <a href="">sdfghjk</a> -->
              </div>
              <div class="col-3 col3 d-flex flex-column p-3 ">
                <span>Total bill</span>
                <strong># 20,000</strong>
                <!-- <a href="">sdfghjk</a> -->
              </div>

            </div>
          </section>
          <section>
            <mat-toolbar class="text-success w-100 justify-content-between m-3">
              <div>Billing History</div>
              <button class="btn btn-success d-flex  ">Add Order</button>
            </mat-toolbar>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Location</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">20499p</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>
                    <button class="btn btn-success me-2" (click)="toggleEditMode()" *ngIf="!isComplete">Processing</button>
                    <button class="btn btn-success me-2" *ngIf="isComplete">Completed</button>
                    <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" onEditOrder(row)" >Update</button> -->
                    <button class="btn btn-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">30499p</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@fat</td>
                  <td>
                    <button class="btn btn-success me-2" (click)="toggleEditMode()" *ngIf="!isComplete">Processing</button>
                    <button class="btn btn-success me-2" *ngIf="isComplete">Completed</button>
                    <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" onEditOrder(row)">Update</button> -->
                    <!-- <button class="btn btn-danger" (click)="deleteOrder(row)">Delete</button> -->
                    <button class="btn btn-danger" (click)="deleteOrder()">Delete</button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">40499p</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
        </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>




<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" >Send Your Request</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- modal form -->
        <form [formGroup]="updateOrder" (ngSubmit)="updateServiceOrder()">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="exampleInputText"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Address</label
            >
            <input
              formControlName="propertyAdress"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
       <div class="mb-1" >
        <label for="exampleInputPassword1" class="form-label"
        >Select Location</label
      >
        <select class="form-select" aria-label="Default select example" >
          <option selected> select location</option>
          <option  *ngFor="let statelga of statelga" >{{statelga}}</option>
        
        </select>
       </div>

          <!-- <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Email ID</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div> -->
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Whatsapp Number</label
            >
            <input
              formControlName="mobilenumber"
              type="number"
              class="form-control"
              
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Alternative Number</label
            >
            <input
              formControlName="mobilenumber"
              type="number"
              class="form-control"
            
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Photo of issue</label
            >
            <input
              formControlName="Photo"
              type="file"
              class="form-control file"
             
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Description</label
            >
            <input
              formControlName="issue"
              type="textarea"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Inspection Date and Time</label
            >
            <input
              formControlName="inspectionDate"
              type="datetime-local"
              [(ngModel)]="value"
              #input (change)="onChange(input.value)"
        />
          </div>
          <button
          type="submit"
         
          class="btn btn-info"
          data-bs-dismiss="modal"
        >
          Send
        </button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
         
          class="btn btn-info"
          data-bs-dismiss="modal"
        >
          Send
        </button>
        <!-- <button *ngIf="showAddEmployee" type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add Employee</button> -->
        <!-- <button *ngIf="showUpdate" type="button" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button> -->
      </div>
    </div>
  </div>
</div>