
<div>
  <div >
    
    <mat-sidenav-container >
      
      <mat-sidenav #sidenav="matSidenav" mode="over" opened class="col-6 col-md-3">
        <mat-toolbar class="w-100 d-flex justify-content-end">
          <!-- <div *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->
                   
            <mat-icon *ngIf="sidenav.opened && sidenav.mode === 'over'" (click)="sidenav.toggle()" class="d-flex justify-content-end">close</mat-icon>
            <!-- <i class="bi bi-arrow-left-circle" *ngIf="sidenav.opened" ></i> -->
      
          <!-- </div> -->
        </mat-toolbar>
        <img src="assets/images/avatar1.webp" class="image image-fluid ">
        <!-- <h4 class="mt-2 mt-md-4">{{userData.email}}</h4> -->
        <div *ngIf="api.loggedIn();" >
          <h4 class="mt-2 mt-md-4">{{userData.firstName}} {{userData.lastName}}</h4>
        
       
      
        </div>
        <h4></h4>
       <hr class="divider">
        <div class="icons py-2 py-md-5">
          <span class="pb-3" [class.active]="expression == 'match1'" (click)="expression = 'match1'"
            ><i class="bi bi-grid-3x3-gap"></i> DASHBOARD</span
          >
          <!-- <span class="pb-3" ><i class="bi bi-grid-3x3-gap" ></i> DASHBOARD</span> -->
          <!-- <span class="pb-3"><i class="bi bi-person"> </i> INFORMATION</span> -->
          <span class="pb-3" [class.active]="expression == 'match2'" (click)="expression = 'match2'" ><i class="bi bi-gear"> </i> MY ORDERS</span>
          <!-- <span class="pb-3"><i class="bi bi-arrow-down"></i> MY REVIEWS</span> -->
          <!-- <span class="pb-3"><i class="bi bi-grid-3x3-gap"></i> DASHBOARD</span> -->
        
          <hr class="divided">

          
          
        </div>
    
      <hr class="divided">
     

    
      <!-- <mat-divider></mat-divider> -->
      </mat-sidenav>
      <mat-sidenav-content opened>

        <!-- <ngx-avatar facebookId="userFacebookID" skypeId="userSkypeID"
 googleId="google" name="Haithem Mosbahi" <ngx-avatar facebookId="userFacebookID" skypeId="userSkypeID"
 googleId="google" name="Haithem Mosbahi" src="assets/avatar.jpg"
 value="28%"  twitterId="twitter"
 gravatarId="adde9b2b981a8083cf084c63ad86f753" 
 size="100" [round]="true">
</ngx-avatar>
 value="28%"  twitterId="twitter"
 gravatarId="adde9b2b981a8083cf084c63ad86f753" 
 size="100" [round]="true">
</ngx-avatar> -->
        
        
        <div class="content mat-elevation-z4 flex-column ms-3; ms-lg-4">
          <!-- <div *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->
            <mat-icon *ngIf="!sidenav.opened && sidenav.mode === 'over'" (click)="sidenav.toggle()">label_important</mat-icon>
            <!-- <i class="bi bi-arrow-right-circle" *ngIf="!sidenav.opened"></i> -->
         
            
      
          <!-- </div> -->
    
    <div [ngSwitch]="expression">
      <div *ngSwitchCase="'match1'" >
        <form [formGroup]="formValue" (ngSubmit)="updateUserDetails(this.formValue.value)">
          <section
            class="col w-100 justify-content-flexstart align-items-center p-2 p-md-5"
          >
         
          
            <div class="h5 text-success">EDIT INFORMATION</div>

            <div class="col align-items-end d-flex">
              <div class="col-4 col-md-2 rounded-circle me-3 ">
                <img src="assets/images/avatar1.webp" class=" img-fluid bg-success rounded" />
              </div>
             

              <div class="align-text-bottom ">
             
                <label class="btn btn-default mt-2 p-0">
                  <input type="file" (change)="selectFile($event)" />
                </label>

               <button  (click)="upload()" class="btn btn-success mt-2">upload picture</button>

               <div *ngIf="currentFile" class="progress my-3">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }"
                >
                  {{ progress }}%
                </div>
              </div>

                <h4 class="d-none d-lg-block pt-2">
                  Acceptable format, jpg, png only<br /><span>
                    Max file size is 100kb and min size 70kb</span
                  >
                </h4>
              </div>
            </div>
          </section>
          <!-- <mat-divider></mat-divider> -->

          <section class="w-100 p-2 ps-md-5">
            <div>
              <div class="h5">ACCOUNT INFORMATION</div>
             <div>
                <div class="mb-3 row">
                  <label for="inputtext" class="col-sm-2 col-form-label"
                    >First Name</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputFirstName"
                      formControlName="firstName" 
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Last Name</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputlastName"
                      formControlName="lastName" 
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >state</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputlastName"
                      formControlName="state" 
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >city</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputlastName"
                      formControlName="city" 
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Address</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="inputlastName"
                      formControlName="Address" 
                    />
                  </div>
                </div>
                <!-- <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >E-mail</label
                  >
                  <div class="col-sm-4">
                    <input
                     formControlName="email" type="text" class="form-control"
                      class="form-control"
                      id="inputEmail"
                    />
                  </div>
                </div> -->
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >mobile number</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="input"
                      formControlName="phoneNumber"
                    />
                  </div>
                </div>
                <!-- <button class="btn btn-success">submit</button> -->
              </div>
            </div>
          </section>
          <button *ngIf="showUpdate" type="submit"  class="btn btn-inline-primary">Update</button>
          </form>
          

          <section class="p-2 mb-5 ps-md-5 butt">
            <div class="d-flex">
              <button
                href="#collapseExample"
                class="btn btn-outline-success mx-1"
                data-bs-toggle="collapse"
                
                aria-expanded="false"
                aria-controls="collapseExample"
                >Change password</button
              >
              <!-- <button class="btn btn-outline-primary mx-1 btn-sm">
                Change password
              </button> -->
              <button class="btn btn-outline-success mx-1" *ngIf="!showAddEmployee" (click)="onEdit()">edit profile</button>
              <!-- <button *ngIf="showAddEmployee" type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add Employee</button> -->
              <button *ngIf="showUpdate" type="submit"  class="btn btn-inline-primary">Update</button>
              <button class="btn btn-outline-danger mx-1" >
                Delete Account
              </button>
            </div>
            <div class="collapse pt-4" id="collapseExample">
              <!-- <div class="card card-body">
                <h2>ChANGE PASSWORD</h2>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >New Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Confirm Password</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                    />
                  </div>
                </div>
              </div>
              <button class="btn btn-success mt-3">Update Changes</button> -->
           
            </div>
          </section>
          </div>


          <div *ngSwitchCase="'match2'" class="p-3">
          <section>
            <div class="col d-flex  justify-content-around">
              <div class="col-3 col1 d-flex flex-column p-3 ">
                <span>Total bill</span>
                <strong># 20,000</strong>
                <!-- <a href="">sdfghjk</a> -->
              </div>
              <div class="col-3 col2 d-flex flex-column p-3">
                <span>Total order</span>
                <strong>10</strong>
                <!-- <a href="">sdfghjk</a> -->
              </div>
              <div class="col-3 col3 d-flex flex-column p-3 ">
                <span>Total bill</span>
                <strong># 20,000</strong>
                <!-- <a href="">sdfghjk</a> -->
              </div>

            </div>
          </section>
          <section>
            <mat-toolbar class="text-success w-100 justify-content-between m-3">
              <div>Billing History</div>
              <button class="btn btn-success d-flex  ">Add Order</button>
           
            </mat-toolbar>
            <div id="no-tables">
              <table class="table table-striped" *ngIf="orderData">
                <thead>
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">User's Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Artisan's Name</th>
                    <th scope="col">Action</th>
                  
                  </tr>
                </thead>
                <tbody *ngFor="let data of orderData  ">
                  <tr>
                    <td  data-title="Order ID">{{data.id}}</td>
                    <td data-title="User's Name">{{data.name}}</td>
                   
                    <td data-title="Location">{{data.propertyAddress}}</td>
                    <td data-title="Issue">{{data.issue}}</td>
                    <td data-title="Artisan's Name">{{data.artisanName}}</td>
                    <td data-title="Action">
                      <button (click)="onEditOrder(data)" class="btn btn-info me-2" *ngIf="!data.isApproved" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Edit
                      </button>
                      
                      <button class="btn btn-success me-2" (click)="toggleEditMode()" *ngIf="!isComplete">Processing</button>
                      <button class="btn btn-success me-2" *ngIf="isComplete">Completed</button>
                      <button class="btn btn-dark me-2 mt-2"   data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      data-bs-whatever="@mdo" (click)=" onClickRating(data)" >Rate</button>
                   
                      <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" onEditOrder(row)" >Update</button> -->
                   
                      <button class="btn btn-danger mt-2" (click)="deleteOrder(data)">Delete</button>
                    </td>
                  </tr>
                
                </tbody>
              </table>
            </div>
            

           
          </section>
          <section class="pt" *ngIf="!orderData">
          <app-emptycart></app-emptycart>
          </section>
        </div>
        </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>


<!-- modal to update form -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- modal form -->
        <form [formGroup]="updateOrder" (ngSubmit)="updateServiceOrder()">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="exampleInputText"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Address</label
            >
            <input
              formControlName="propertyAddress"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="form-group form-outline mb-4">
                   
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="state"
              [(ngModel)]="selectedCountry.name"
              (change)="onSelect($event.target)"
            >
              <option selected value="" >select location</option>
              <option class="form-control form-control-lg mb-1"
                *ngFor="let country of state"
                value="{{ state.indexOf(country) }}"
              >
                {{ country.name }}
              </option>
            </select>
           <div> <label for="country" class="form-label">Select State</label></div>
          </div>

          <div class="form-group form-outline mb-4">

            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="city"
              [(ngModel)]="selectedCountry.cities"
            >
              <option selected value="">select location</option>
              <option *ngFor="let state of city" value="cities">
                {{ state }}
              </option>
            </select>
            <label for="country" class="form-label">Select City</label>
          </div>

          <!-- <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Email ID</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div> -->
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Whatsapp Number</label
            >
            <input
              formControlName="mobilenumber"
              type="number"
              class="form-control"
              
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Alternative Number</label
            >
            <input
              formControlName="mobilenumber"
              type="number"
              class="form-control"
            
            />
          </div>
          <!-- <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Photo of issue</label
            >
            <input
              formControlName="Photo"
              type="file"
              class="form-control file"
             
            />
          </div> -->
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Description</label
            >
            <input
              formControlName="issue"
              type="textarea"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label"
              >Inspection Date and Time</label
            >
            <input
              formControlName="inspectionDate"
              type="datetime-local"
              [(ngModel)]="value"
              #input (change)="onChange(input.value)"
        />
          </div>
          <button
          type="submit"
         
          class="btn btn-info"
          data-bs-dismiss="modal"
        >
          Send
        </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>


<!--rating modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submitRating(this.form.value)">
          <div>
           <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
           <div>Rating: {{form.value.rating}}</div>
          </div>
           <!-- <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->

           <div class="mb-3 row">
             <label for="" class=" "
               >Comment</label
             >
             <div class="">
               <input
                 type="text"
                 class="form-control"
                 id="inputText"
                 formControlName="comment"
               />
             </div>
           </div>
           <button class="btn btn-danger" type="submit">submit</button>
       </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Send message</button> -->
      </div>
    </div>
  </div>
</div>
