<div class="section container">
    <h4><strong>AC</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Gas Refill</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Dry Serving</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Wet Serving</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Installation</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Un-installation</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Repair</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
</div>

</div>
