<h2>Invoice Form</h2>

<div>
  <label for="personName">Person Name:</label>
  <input id="personName" [(ngModel)]="invoice.personName" placeholder="Person Name">
</div>

<div>
  <label for="invoiceDate">Invoice Date:</label>
  <input id="invoiceDate" [(ngModel)]="invoice.invoiceDate" placeholder="Invoice Date">
</div>

<div>
  <label for="invoiceNo">Invoice No:</label>
  <input id="invoiceNo" [(ngModel)]="invoice.invoiceNo" placeholder="Invoice No">
</div>

<div>
  <label for="invoiceTotal">Invoice Total:</label>
  <input id="invoiceTotal" type="number" [(ngModel)]="invoice.invoiceTotal" placeholder="Invoice Total">
</div>

<div>
  <label for="orderId">Order ID:</label>
  <input id="orderId" type="number" [(ngModel)]="invoice.orderId" placeholder="Order ID">
</div>

<div>
  <label for="jobDescription">Job Description:</label>
  <input id="jobDescription" [(ngModel)]="invoice.jobDescription" placeholder="Job Description">
</div>

<div>
  <label for="artisanCharge">Artisan Charge:</label>
  <input id="artisanCharge" type="number" [(ngModel)]="invoice.artisanCharge" placeholder="Artisan Charge">
</div>

<hr>
<button (click)="addItem()">Add Item</button>

<div *ngFor="let item of invoice.items; let i = index">
  <h3>Item {{ i + 1 }}</h3>

 <div>

    <label for="mainProductName">Main Product Name:</label>
    <select id="mainProductName" [(ngModel)]="item.mainProduct.name" placeholder="Main Product Name" (change)="onMainProductSelected(item, i)">
      <option value="">Select a product</option>
      <option *ngFor="let product of suggestedProducts" [value]="product.name">{{ product.name }}</option>
    </select>
  </div>

  <div>
    <label for="mainProductPrice">Main Product Price:</label>
    <input id="mainProductPrice" [(ngModel)]="item.mainProduct.price"  placeholder="Main Product Price" >
  </div>

  <div>
    <label for="mainProductQuantity">Main Product Quantity:</label>
    <input id="mainProductQuantity" type="number" [(ngModel)]="item.mainProduct.quantity" placeholder="Main Product Quantity">
  </div>

  <div>
    <label for="mainProductTotal">Main Product Total:</label>
    <input id="mainProductTotal" type="number" [(ngModel)]="item.mainProduct.total" placeholder="Main Product Total" [ngModel]="updateTotalInItemsArray(item.mainProduct)">
  
  </div>

  <!-- Repeat the same for suggestedProductOne -->

  <div>
    <label for="suggestedProductOneName">Suggested Product One</label>
    <select id="suggestedProductOneName" name="suggestedProductOneName{{i}}" [(ngModel)]="item.suggestedProductOne.name" placeholder="Main Product Name" (change)="onSuggestedItem1Selected(item, i)">
      <option value="">Select a product</option>
      <option *ngFor="let product of suggestedProducts" [value]="product.name">{{ product.name }}</option>
    </select>
  </div>

  <div>
    <label for="suggestedProductOnePrice">Main Product Price:</label>
    <input id="suggestedProductOnePrice" type="number" [(ngModel)]="item.suggestedProductOne.price" placeholder="Main Product Price">
  </div>

  <div>
    <label for="suggestedProductOneQuantity">Main Product Quantity:</label>
    <input id="suggestedProductOneQuantity" type="number" [(ngModel)]="item.suggestedProductOne.quantity" placeholder="Main Product Quantity">
  </div>

  <div>
    <label for="suggestedProductOneTotal">Main Product Total:</label>
    <input id="suggestedProductOneTotal" type="number" [(ngModel)]="item.suggestedProductOne.total" placeholder="Main Product Total" [ngModel]="updateTotalInItemsArray(item.suggestedProductOne)">
  </div>

    <!-- Repeat the same for suggestedProductTwo -->

    <div>
      <label for="suggestedProductTwoName">Suggested Product Two:</label>
      <select id="suggestedProductTwoName" [(ngModel)]="item.suggestedProductTwo.name" placeholder="Main Product Name" (change)="onSuggestedItem2Selected(item, i)">
        <option value="">Select a product</option>
        <option *ngFor="let product of suggestedProducts" [value]="product.name">{{ product.name }}</option>
      </select>
    </div>
  
    <div>
      <label for="suggestedProductTwoPrice">Main Product Price:</label>
      <input id="suggestedProductTwoPrice" type="number" [(ngModel)]="item.suggestedProductTwo.price" placeholder="Main Product Price">
    </div>
  
    <div>
      <label for="suggestedProductTwoQuantity">Main Product Quantity:</label>
      <input id="suggestedProductTwoQuantity" type="number" [(ngModel)]="item.suggestedProductTwo.quantity" placeholder="Main Product Quantity">
    </div>
  
    <div>
      <label for="suggestedProductTwoTotal">Main Product Total:</label>
      <input id="suggestedProductTwoTotal" type="number" [(ngModel)]="item.suggestedProductTwo.total" placeholder="Main Product Total" [ngModel]="updateTotalInItemsArray(item.suggestedProductTwo)">
    </div>


  <button (click)="removeItem(i)">Remove Item</button>

  <hr>


</div>

<button (click)="sendInvoice()">Send Invoice</button>

