
  .content {
    display: flex;
    justify-content: flex-start;
  }
  .icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
 
  .col1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border-left: 3px solid red; */
    background-color: #48849a;
  }
  .col2 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border-left: 3px solid yellow; */
    background-color: #705ef1;
  }
  .col3 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border-left: 3px solid #0dcaf0; */
    background-color: #3e75a5;
  }
  .col4 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border-left: 3px solid #0dcaf0; */
    background-color: #ee7c55;
  }
  .active {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #0dcaf0;
    color: white;
   /* padding: 10px; */
    /* display: flex; */
  
    /* align-items: center;
    justify-content: center;
    margin: 10px; */
  }

  @media only screen and (max-width:800px) {
    #no-tables tbody, #no-tables tr, #no-tables td{
      display: block;
    }
    #no-tables thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    #no-tables td{
      position: relative;
      padding-left: 50%;
      border: none;
    }
    #no-tables td::before{
      content: attr(data-title);
      position: absolute;
      left: 6px;
      font-weight: bold;
     
    }
    #no-tables tr{
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }
  }


.buttO{
  content: attr(data-title);

  /* position: relative; */
}
.buttO::after{
  content: attr(data-title);
  position: absolute;
  background: #444;
  color: #fff;
  left: 0;
  top: 100%;
  font-size: 12px;
  width: 100px;
  padding: 5px;
  border-radius: 4px;
  transition: 300ms;
  opacity: 0;
  pointer-events: none;
  transform: translateY(15px);
}
.buttO:hover::after{
  opacity: 1;
  transform: translateY(5px);
}
  