.example-container {
  width: 100%;
  height: 700px;
  margin: 10px;
  /* border: 1px solid #555; */
}
.sidebar {
  width: 300px;
  padding: 30px;
  line-height: 2.5;
}
.sidebar ul li {
  color: teal;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
}
.mainbar {
  padding: 30px;
}
.section1 {
  height: 150px;
  width: 100%;

  /* display: flex; */
}

.sectionbar {
  width: 300px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.section1a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
}
.imagesection {
  display: flex;
  height: 160px;
  position: relative;
}
.image {
  height: 150px;
  width: 170px;
  background-color: teal;
  border: 1px solid teal;
  border-radius: 5px;
  margin-right: 20px;
  object-fit: cover;
}
.text {
  position: absolute;
  bottom: 0;
  left: 190px;
}
label{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
p{
    font-size: 15px;
}
input{
    margin-bottom: 10px;
}