<div>
    <div>
      <mat-drawer-container class="example-container">
        <mat-drawer mode="side" class="sidebar" opened>
         
         <ul>
             <li>DASHBOARD</li>
             <li>INFORMATION</li>
             <li>ADDRESS BOOK</li>
             <li>MY ORDERS</li>
             <li>MY REWARDS</li>
             <li>MY REWIEWS</li>
             <li>WISHLIST</li>
         </ul>
        </mat-drawer>
        <mat-drawer-content class="mainbar">
          <h1>EDIT INFORMATION</h1>
          <div>
              <div class="imagesection">
                  <div class="image"></div>
                  <div class="text">
                     <input type="file">
                      <h4>Acceptable format, jpg, png only </h4>
                      Max file size is 100kb and min size 70kb
                    </div>

              </div>
              <div>
                  <h2>ACCOUNT INFORMATION</h2>
                <div>
                    <div class="mb-3 row">
                        <label for="inputtext" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="inputFirstName">
                        </div>
                      </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="inputPassword">
                        </div>
                      </div>
                    
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="inputPassword">
                        </div>
                      </div>
                      <h2>ChANGE PASSWORD</h2>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Current Password</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="inputPassword">
                        </div>
                      </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="inputPassword">
                        </div>
                      </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="inputPassword">
                        </div>
                      </div>
                </div>
              </div>
            
            
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
  
