
<div class="pt-5"  id="no-tables" >
    <div class="col-6 my-2">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for Artisans within your location">
    </div>
   <div class="h4 mb-3"> USERS SECTION</div> 
    <div>
       <table class="table">
          <thead>
            <tr>
              <!-- <th>User ID</th> -->
              <th>Registered Date</th>
              <th scope="col">Email Address</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Number</th>
              <th scope="col">Status</th>
              <!-- <th scope="col">Status</th> -->
              <!-- <th scope="col">Action</th> -->
            
            </tr>
          </thead>
          <tbody *ngFor="let data of userData | filter : searchText">
            <tr class="align-center justify-content-center">
              <!-- <td data-title="User ID" scope="row">{{data.id}}</td> -->
              <td data-title="Registered Date" scope="row">{{data.dateRegistered}}</td>
              <td data-title="Email Address" scope="row">{{data.email}}</td>
              <td data-title="Name">{{data.firstName}} {{data.lastName}}</td>
              <td data-title="Location">{{data.address}}</td>
              <!-- <td data-title="Location">{{data.title}}</td> -->
              <td data-title="Number">{{data.phoneNumber}}</td>
              <!-- <td data-title="Status">{{data.AccountStatus}}</td> -->


              <!-- <td data-title="Status">Suspended</td> -->
              <!-- <td data-title="Action" class="">
               
                <i class="bi bi-stop-btn-fill text-success me-4 h5"></i>
                <i class="bi bi-pencil-square me-4 h5" ></i>
                <i class="bi bi-trash text-danger h5"></i>
              </td> -->
            </tr>
         
          
          </tbody>
        </table>
        <pagination-controls (pageChange)="userPage = $event"></pagination-controls>

    </div>
  </div>