mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(2px);
}

.content {
    padding: 16px;
}

button {
    margin: 8px;
}

@media(max-width: 999px){
.menu{
  position: fixed;
  right: -280px;
  top:64;
  width: 280px;
  height: 100%;
  background: #222;
  transition: 0.4s ease-in-out;

}
.menu ul li {
  display: block;
  text-align: left;
  margin: 0;
  padding: 10px 0 10px 26px;
  border-bottom: 1px solid #312f2f;

}
.menu_icon{
  display: inline-block;
  position: relative;
  right: 0;
  top: 20 px;

}


.menu_icon span {
  width: 32px;
  height: 3px;
  background: #ffffff;
  display: block;
  transition: 0.2s ease-in-out;

}
.menu_icon span:nth-child(2) {
  margin: 4px 0;

}
.menu_iconClass span:nth-child(2){

display: none;
}

.menu_iconClass span:nth-child(1){

  transform: rotate(40deg);
}


.menu_iconClass span:nth-child(3){

  transform: rotate(-40deg);
  margin-top: -3px;
}

.menuClasse{

right: 0;
transition: 0.4s ease-in-out;

}

.menu-spacer {
  flex: 1 1 auto;
}
}
.cursor{
  cursor: pointer;
}
.navItem{
  font-size: 30px; 
  font-weight: 400;
  color:black;
  transition: all 0.5s;
}
.navItem:hover{
  transform: translate(20px,10px);

  /* transform: scale(1.5); */
  /* transform: skewX(-20deg); */
  color: white;
 
                border-radius: 7px;
                
  /* height: 20px; */
  background-color: #033d94;
}

.container {
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scrolling-text {
  position: absolute;
  white-space: nowrap;
  font-size: 22px;
  padding-top: 5px;
  /* color: blue; */
  
  /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
}

/* Below doesn't work to pause */

.scrolling-text:hover, .container:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}










