<div class="">
  <nav class="navbar navbar-expand-lg bg-light fixed-top ">
    <div class="container-fluid ">
      <a class="navbar-brand cursor" routerLink="/" 
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
        ><img src="/assets/images/logos.png" style="width: 200px" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-4 mb-lg-0">
       

          <li>
            <div class="w-100 position-absolute bottom-0" *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
              <div class="alert alert-secondary m-2">
                <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closePwa()"></button>
                <!-- Android -->
                <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
                  DOWNLOAD
                </div>
                <!-- iOS with Safari -->
                <div *ngIf="modalPwaPlatform === 'IOS'">
                  <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png" class="ios-menu m-0" />
                  DOWNLOAD
                  <i class="bi bi-plus-square"></i>
                </div>
              </div>
              </div>
          </li>
          <li class="hover nav-item "   data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation">
            <a class="hover nav-link navItem my-2 my-lg-0 me-4 cursor"  routerLink="/signup" style="font-size: 20px; font-weight: 400;"
              ><i class="fa-solid fa-money-bill-trend-up me-2"></i>EARN</a
            >
          </li>
          <li>
            
          </li>
          <li class=" hover nav-item "   data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation">
            <a class="  nav-link  my-2 my-lg-0 me-4 navItem cursor"  routerLink="/helpcenter" style="font-size: 20px; font-weight: 400; " 
              ><i class=" fa-solid fa-circle-question me-2"></i>Help</a
            >
          </li>
          <li class="hover nav-item my-2 my-lg-0"   data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation">
            <a class=" nav-link  me-4 cursor navItem" routerLink="/aboutus" style="font-size: 20px; font-weight: 400;"
              ><i class="fa-solid fa-address-card"></i> About</a
            >
          </li>
          <li class="hover nav-item my-2 my-lg-0"   data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation" *ngIf="loginApi.loggedIn() && this.displayAdmin" routerLink="/admin">
            <a class="nav-link  me-4 cursor navItem"  style="font-size: 20px; font-weight: 400;"
              ><i class="fa-solid fa-user"></i> My Profile</a
            >
          </li>
          <li class="hover nav-item my-2 my-lg-0"   data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation" *ngIf="loginApi.loggedIn() && this.displayUser "  routerLink="/userprofile"
          (click)="onClick(loginApi.loggedinUser.id)">
            <a class="nav-link  me-4 cursor navItem"  style="font-size: 20px; font-weight: 400;"
              ><i class="fa-solid fa-user"></i> My Profile</a
            >
          </li>
          <li class="hover nav-item my-2 my-lg-0"   data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation" *ngIf="loginApi.loggedIn() && this.displayArtisan"  
          routerLink="/artisanprofile"
          (click)="onClick(loginApi.loggedinUser.id)">
            <a class="nav-link  me-4 cursor navItem"  style="font-size: 20px; font-weight: 400;"
              ><i class="fa-solid fa-user"></i> My Profile</a
            >
          </li>
  
          <li class="nav-item my-2 my-lg-0 navItem">
            <div
              class=" nav-link d-flex justify-content-center text-white cursor"
              style="
                background-color: #033d94;
                width: 120px;
                height: 40px;
                border: none;
                border-radius: 7px;
                font-size: 20px;
                
              "
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
              routerLink="/signin"
              *ngIf="!loginApi.loggedIn()"
            >
              Sign In
            </div>
          </li>
  
          <li class="nav-item my-2 my-lg-0 navItem">
            <div
              class="nav-link d-flex justify-content-center text-white cursor"
              style="
                background-color:#033d94;
                width: 120px;
                height: 40px;
                border: none;
                border-radius: 7px;
                font-size: 20px;
                
              "
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
              *ngIf="loginApi.loggedIn()"
              (click)="Logout()"
            >
              Log Out
            </div>
          </li>
    
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  
  

  <router-outlet class="mt-5"></router-outlet>


  
  <app-footer></app-footer>
</div>
<!-- <ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container> -->
<ngx-http-loader  [opacity]="0.5" [title]="'Essentialartisans.com'" [subTitle]="'ESSENTIAL ARTISANS'" [loader]="ngxloader.ELLIPSIS" [iconColor]="'white'" [backdropBackgroundColor]="'black'">
</ngx-http-loader>

<!-- <div *ngIf="offline">
  <app-offline ></app-offline>
</div> -->
<!-- <app-offline *ngIf="offline"></app-offline> -->


<div class="w-100 position-absolute top-0" *ngIf="modalVersion">
  <div class="alert alert-secondary m-2">
    <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closeVersion()"></button>
    A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
  </div>
  </div>
  
  <div class="w-100 position-absolute bottom-0" *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
  <div class="alert alert-secondary m-2">
    <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closePwa()"></button>
    <!-- Android -->
    <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
      Add this WEB app to home screen
    </div>
    <!-- iOS with Safari -->
    <div *ngIf="modalPwaPlatform === 'IOS'">
      To install this WEB app on your device, tap the "Menu" button
      <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png" class="ios-menu m-0" />
      and then "Add to home screen" button
      <i class="bi bi-plus-square"></i>
    </div>
  </div>
  </div>
  