

  



<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" >
      <div class="col-4 col-md-2 align-items-center mb-3 pb-1 d-flex">
        <img src="/assets/images/logoE.jpeg" alt="" class="img-fluid">

    
      </div>

      <button class="navbar-toggler border-info border-4 text-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa-solid fa-bars text-info pr-3" aria-hidden="true" style="color: #3111c0"></span>
      
      </button>

     
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link active h5" aria-current="page" routerLink="/">Home</a> -->
           
          </li>
       
 <li>
   <div class="h6  ms-3" routerLink="/helpcenter" ><i class="fa-solid fa-circle-question me-2"></i>Help</div>

 </li>
        </ul>
        <span class="navbar-text d-flex">
        
          <div> <button class="btn btn-info" routerLink="/signin" *ngIf="!api.loggedIn()">Sign in</button>
           
          </div>
         
        
          
          <div class="dropdown" *ngIf="api.loggedIn();">
            
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          
              welcome <span class="text-primary" >   {{api.loggedinUser.email}} </span>
           
        
            </a>
          
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink" >
              <li><a class="dropdown-item" *ngIf="this.displayUser" routerLink="/userprofile" (click)="onClick(api.loggedinUser.id)">My Profile</a></li>
              <li><a class="dropdown-item" *ngIf="this.displayArtisan" routerLink="/artisanprofile" (click)="onClick(api.loggedinUser.id)">My Profile</a></li>
              <li><a class="dropdown-item" *ngIf="this.displayAdmin" routerLink="/admin">My Profile</a></li>
              <li><a class="dropdown-item" routerLink="">Edit</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </div>
        
        </span>
      </div>
    </div>
  </nav>  
<router-outlet></router-outlet>

<app-footer></app-footer> 
<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>



