<div class="section container ">
  <h3><strong>CAPENTARY</strong></h3>
  <h4><strong>General Carpentry Work</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/woodenpartition.jpg"
                  alt=""
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Wooden Partition</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/woodmesh.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Mesh</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/woodenchair.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>New Wooden Chair</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/bed.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Bed</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/uninstall.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Un-Installation</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4><strong>Bolt, Latch, Handle Work</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/doorstopper.jpg"
                  alt=""
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Door Stopper</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/doorhandle.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Handle</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/chain.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Door Chain</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/latch.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Door Latch</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/hinges.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Hinges</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/peephole.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Door Peephole</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <h4><strong>Furniture Installation And Assembly</strong></h4>

  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/doorstopper.jpg"
                  alt=""
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Door Stopper</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/doorhandle.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Handle</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/chain.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Door Chain</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/latch.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Door Latch</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/hinges.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Hinges</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/peephole.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Door Peephole</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/furniture.png"
                  alt=""
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Furniture Repair</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/doorlocks.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Locks</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/homecheck.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Full Home Health Check</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

  
    </div>
  </div>





  
