<div class=" container">
  <h4><strong>General Carpentry Work</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-6 col-xl-2 col-lg-3 col-md-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>   <h6>Wooden Partition</h6>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div> <h6>Mesh</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>   <h6>New Wooden Chair</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6><h6>Bed</h6></h6>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6><h6>Others</h6></h6>
            
            </div>
          
          </div>
        </div>
      </div>
      
      </div>
      </div>

  <h4><strong>Bolt, Latch, Handle Work</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap ">
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>    <h6>Door Stopper</h6>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div><h6>Handle</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>   <h6>Door Chain</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Door Latch</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Hinges</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Door Peephole</h6>
            <p><strong>#</strong> 50,000</p>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6><h6>Others</h6></h6>
            
            </div>
          
          </div>
        </div>
      </div>
      
      </div>
      </div>
  <h4><strong>Furniture Installation And Assembly</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap ">
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>    <h6>Door Stopper</h6>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div><h6>Handle</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>   <h6>Door Chain</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Door Latch</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Hinges</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Door Peephole</h6>
            <p><strong>#</strong> 50,000</p>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6><h6>Others</h6></h6>
            
            </div>
          
          </div>
        </div>
      </div>
      
      </div>
      </div>


    
  
  <h4><strong>Carpentry Services</strong></h4>
  <div class="row">
    <div class="col-12 card-group justify-content-between align-items-center d-flex flex-wrap  ">
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>   <h6>Furniture Repair</h6>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div> <h6>Mesh</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>  <h6>Locks</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6><h6>Bed</h6></h6>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-3 col-md-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Full Home Health Check</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      
      </div>
      </div>
      </div>

  
