<div class="h2 text-primary">ARTISAN'S SUMMARY</div>
<div   id="no-tables" >
    <div>
        <button class="btn btn-info float-end mb-3" routerLink="/register">Create new Artisan</button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email Adress</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Number</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            
            </tr>
          </thead>
          <tbody *ngFor="let data of artisanData | paginate: { id: 'listing_pagination',itemsPerPage: 10, currentPage: page, totalItems: totalRecord}">
            <tr class="align-center justify-content-center">
              <td data-title="Email Adress" scope="row">{{data.email}}</td>
              <td data-title="Name">{{data.name.title}}  {{data.name.last }}  {{data.name.first}}<td>
              <!-- <td data-title="Location">{{data.location.state}}, {{data.location.country}}</td> -->
              <!-- <td data-title="Number">{{data.phone}}</td> -->
              <td data-title="Status">Suspended</td>
              <td data-title="Action" class="">
               
                <i class="bi bi-stop-btn-fill text-success me-4 h5"></i>
                <i class="bi bi-pencil-square me-4 h5" ></i>
                <i class="bi bi-trash text-danger h5" (click)="deleteArtisan(data)"></i>
              </td>
            </tr>
        
          
          </tbody>
        </table>
        <!-- <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        aria-label="Select page">
    </mat-paginator> -->

    </div>
  </div>
