
<div class="section container ">
  <h3><strong>PLUMPING</strong></h3>
  <h4><strong>Tab, Wash Basin And Sink</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/tap.webp"
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Tap</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/basin.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Wash Basin</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/sink.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Kitchen Sink</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/bed.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Bed</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/uninstall.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Un-Installation</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4><strong>Blocks & Leakages</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/commode.jpg"
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Werstern Commonde</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/basin.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Wash Basin</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/sink.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Kitchen Sink</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/bed.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Bed</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/uninstall.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Un-Installation</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  <h4><strong>Blocks & Leakages</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/western.webp"
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Werstern Toilet</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/flush.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Flush Tank (open)</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/toiletjet.webp"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Toilet Jet (health Faucet)</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

  </div>
  </div>

  
  <h4><strong>Blocks & Leakages</strong></h4>
  <div class="row">
    <div class="col-12 card-group  align-items-center d-flex flex-wrap  ">
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body ">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto ">
                <img
                  src="assets/images/tank.jpg"
                  class="img-fluid rounded-circle mx-auto "
                />
              </div>
              <div>
                <h4>Water Tank</h4>
                
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3 ">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-around mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/pipelines.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Pipelines And Pumps</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 col-xl-2 col-lg-3 col-md-4 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/plumbingcheck.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Full Home Health Check</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      

  </div>
  </div>

<div class="container">
  <h4><strong>Tab, Wash Basin And Sink</strong></h4>
 

  <h4><strong>Blocks & Leakages</strong></h4>
  <div class="row">
    <div class="col-12 card-group ">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>     <h6>Kitchen Sink</h6>
            <p><strong>#</strong> 50,000</p>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>       <h6>Western Commonde</h6>
            <p><strong>#</strong> 50,000</p>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>     <h6>Tap</h6>
            <p><strong>#</strong> 50,000</p>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Wash Basin</h6>
            <p><strong>#</strong> 50,000</p>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Others</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      </div>
      </div>
 
  <h4><strong>Toilet And Sanitary Work</strong></h4>
  <div class="row">
    <div class="col-12 card-group ">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Western Toilet</h6>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Flush Tank (open)</h6>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div> <h6>Toilet Jet (health Faucet)</h6>
            <p><strong>#</strong> 50,000</p>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Toilet Jet (health Faucet)</h6>
            <p><strong>#</strong> 50,000</p>
            
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Others</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      </div>
      </div>
 
  <h4><strong>Bathroom Fittings</strong></h4>
  <div class="row">
    <div class="col-12 card-group ">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>  <h6>Shower</h6>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
     
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Others</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      </div>
      </div>


  <h4><strong>Plumbing Services</strong></h4>

  <div class="row">
    <div class="col-12 card-group ">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>  <h6>Water Tank</h6>
            <p><strong>#</strong> 50,000</p>
            <!-- <p><strong>#</strong> 50,000</p></div> -->
            </div>
          
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
           <div>   <h6>Pipelines And Pumps</h6>
            <p><strong>#</strong> 50,000</p>
            <!-- <p><strong>#</strong> 50,000</p> -->
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Full Home Health Check</h6>
            
          
          </div>
        </div>
      </div>
    
    </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body " >
            <div
              class=" align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
            <h6>Others Plumbing Services</h6>
            
            </div>
          
          </div>
        </div>
      </div>
      </div>
      </div>


    
</div>
