<div class="section container">
    <h4><strong>Switches, Meters And Fuses</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Main Control Board (mcb)</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>New Electric Point</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>3 Phase Panel Board</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    
</div>
    <h4><strong>Fans</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Ceiling Fan</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Exhaust Fan</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
  
</div>
    <h4><strong>Lights</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Tube Lights With Panel 1 nos</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Fancy Lights</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Sockets And Holders</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
   
</div> 

    <h4><strong>Electrical Services</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Wiring</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Inverter</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Full Home Health Check</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Other Electrical Services</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    
</div>

</div>
