<div class="container mb-5">
   <h3><strong>General Electrical Work</strong></h3>

  <div class="row">
    <div class="col-12 card-group">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body h-100">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto h-100">
                <img
                  src="assets/images/02.jpg"
                  alt=""
                  class="img-fluid rounded-circle mx-auto h-100"
                />
              </div>
              <div>
                <h4>Main Control Board </h4>
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/2.png"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>New Electric Point</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/4.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>3 Phase Panel Board</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/electricalbg.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <h4>Others</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4><strong>Fans</strong></h4>
  <div class="row">
    <div class="col-12 card-group">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto border border-2 border-danger rounded-circle">
                <img
                  src="assets/images/fo.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Ceiling Fan</h4>
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/fo.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Exhaust Fan</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto">
                <img
                  src="assets/images/electricalbg.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Others</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4><strong>Lights</strong></h4>

  <div class="row">
    <div class="col-12 card-group">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto border border-2 border-danger rounded-circle">
                <img
                  src="assets/images/lo.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Tube Light & panel</h4>
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box" routerLink="/available artisan">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto border border-2 border-danger rounded-circle">
                <img
                  src="assets/images/lo.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Fancy light</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto border border-2 border-danger rounded-circle">
                <img
                  src="assets/images/lo.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div>
                <h4>Sockets And Holders</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
              <div class="mx-auto border border-2 border-danger rounded-circle">
                <img
                  src="assets/images/lo.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <h4>Others</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4><strong>Electrical Services</strong></h4>

  <div class="row">
    <div class="col-12 card-group">
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class=" mx-auto">
              <img src="assets/images/eo.jpg" alt="" class="img-fluid rounded-circle  " />
            </div>
              <div>
                <h4>Wiring</h4>
                <!-- <p><strong>#</strong> 50,000</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class=" mx-auto">
              <img src="assets/images/eo.jpg" alt="" class="img-fluid rounded-circle  " />
            </div>
              <div>
                <h4>Inverter</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class=" mx-auto">
              <img src="assets/images/eo.jpg" alt="" class="img-fluid rounded-circle  " />
            </div>
              <div>
                <h4>Home Health Check</h4>
                <!-- <p><strong>#</strong> 50,000</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 me-3">
        <!-- Card -->
        <div class="card mb-4 rounded box">
          <!-- Card body -->
          <div class="card-body">
            <div
              class="align-items-center justify-content-between mb-3 lh-1 text-center"
            >
            <div class=" mx-auto">
              <img src="assets/images/eo.jpg" alt="" class="img-fluid rounded-circle  " />
            </div>
              <h4>Others</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
