<div class="reset">
  <div class="form">
    <div>Reset Password</div>
    <form [formGroup]="resetpassword">
  
  
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error   *ngIf="
        resetpassword.controls['email'].dirty &&
        resetpassword.hasError('required', 'email')
      ">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="resetpassword.hasError('required', 'email')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       
        </button>
        <mat-error   *ngIf="
        resetpassword.controls['password'].dirty &&
        resetpassword.hasError('required', 'password')
      ">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide ? 'password2' : 'text'"  formControlName="password2" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       
        </button>
        <mat-error   *ngIf="
        resetpassword.controls['password2'].dirty &&
        resetpassword.hasError('required', 'password2')
      ">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>  
      <div>
        <p routerLink="/register">Back to <strong>signin</strong></p>
       
      </div>
    
      <button
        class="btn btn-primary"
        [disabled]="resetpassword.invalid"
        (click)="reset()"
      >
     Send Link
      </button>
    
    </form> 
    
    
  </div>

</div>