<div class="row pt-5">
    <div class="col-md-6 offset-md-3 mt-4">
      <h3>Reset Password</h3>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="resetPasswordEmail" >Enter new Password</label><br>
          <mat-form-field class="example-full-width mb-1" appearance="fill">
            <!-- <mat-label>Email</mat-label> -->
            <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
          
            
            <mat-error *ngIf="resetForm.hasError('required', 'password')">
             Password is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>
          <label for="resetPasswordEmail" >Confirm Password</label><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <!-- <mat-label>Email</mat-label> -->
            <input type="password" matInput formControlName="confirmPassword" placeholder="Ex. pat@example.com">
         
            
            <mat-error *ngIf="resetForm.hasError('required', 'confirmPassword')">
              confirmPassword is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <button
          type="submit"
          [disabled]="resetForm.invalid"
          class="btn btn-primary my-4"
        >
          Reset Password
        </button>
       
      </form>
    </div>
  </div>
  