<div>
  <div>
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" class="sidebar" opened>
        <app-zippy title="Order & Invoice">
          <ul>
            <li>Catalog</li>
            <li>Order Form</li>
            <li>Orders</li>
            <li>Recurring Orders</li>
          </ul>
        </app-zippy>
        <app-zippy title="Order & Invoice">
          <ul>
            <li>Catalog</li>
            <li>Order Form</li>
            <li>Orders</li>
            <li>Recurring Orders</li>
          </ul>
        </app-zippy>
        <app-zippy title="Order & Invoice">
          <ul>
            <li>Catalog</li>
            <li>Order Form</li>
            <li>Orders</li>
            <li>Recurring Orders</li>
          </ul>
        </app-zippy>
        <app-zippy title="Order & Invoice">
          <ul>
            <li>Catalog</li>
            <li>Order Form</li>
            <li>Orders</li>
            <li>Recurring Orders</li>
          </ul>
        </app-zippy>
      </mat-drawer>
      <mat-drawer-content class="mainbar">
        <h1>Vendor Invoice</h1>
        <div>
          <div class="section1">
            <div class="section1a">
              <div><h4>US Foods</h4></div>
              <button class="btn btn-primary">Edit</button>
            </div>
            <div class="section1b">
              <div class="sectionbar">
                <div class="bar">
                  <p>Recieve Date</p>
                  <p><strong>03/23/2022</strong></p>
                </div>
                <div class="bar">
                  <p>Recieve Date</p>
                  <p><strong>03/23/2022</strong></p>
                </div>
              </div>
              <div class="sectionbar">
                <div class="bar">
                  <p>Recieve Date</p>
                  <p><strong>03/23/2022</strong></p>
                </div>
                <div class="bar">
                  <p>Recieve Date</p>
                  <p><strong>03/23/2022</strong></p>
                </div>
              </div>
              <div class="sectionbar">
                <div class="bar">
                  <p>Recieve Date</p>
                  <p><strong>03/23/2022</strong></p>
                </div>
                <div class="bar">
                  <p>Recieve Date</p>
                  <p><strong>03/23/2022</strong></p>
                </div>
              </div>
            </div>
          </div>
          <div class="section2">
            <table class="table caption-top mt-2">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">SKU</th>
                  <th scope="col">ITEMS</th>
                  <th scope="col">QUANTITY</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">AMOUNT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>-</td>
                  <td><span>electrical repair</span> sdfghjkl;</td>
                  <td>sdfghjkl;</td>
                  <td>5000</td>
                  <td>qwertyui</td>

                  <td>
                    <button class="btn btn-danger me-2"><i class="bi bi-trash"></i></button>
                    <button
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      class="btn btn-success "
                    >
                    <i class="bi bi-pencil-square"></i>
                    </button>

            
                  </td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>-</td>
                  <td><span>electrical repair</span> sdfghjkl;</td>
                  <td>sdfghjkl;</td>
                  <td>5000</td>
                  <td>qwertyui</td>

                  <td>
                    <button class="btn btn-danger me-2"><i class="bi bi-trash"></i></button>
                    <button
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      class="btn btn-success "
                    >
                    <i class="bi bi-pencil-square"></i>
                    </button>

            
                  </td>
                </tr>
              </tbody>
         
            </table>
            <div class="section3">
              <button class="btn btn-primary">Add Items </button>
              <button class="btn btn-success">Add Non Inventory Item </button>
              <button class="btn btn-danger">Add Charge</button>
              <button class="btn btn-primary">Add Credit Card</button>
              <div>
                <p>Sub-Total <span> 65000</span></p>
                <p>Sub-Total <span> 65000</span></p>
              </div>
             </div>
     <div class="section4">
      <button class="btn btn-danger">Delete Invoice</button>
      <button class="btn btn-success">Approve Invoice</button>
      <button class="btn btn-primary">Approve Invoice & Next</button>
     </div>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
