<div class="section container ">
    <h3><strong>AC Technician</strong></h3>

<div class="row">
  <div class="col-12 card-group justify-content-between align-items-center d-flex flex-wrap ">
    <div class="col-5 col-xl-2 col-lg-3 col-md-3 me-2">
      <!-- Card -->
      <div class="card mb-4 rounded box">
        <!-- Card body -->
        <div class="card-body " >
          <div
            class=" align-items-center justify-content-between mb-3 lh-1 text-center"
          >
          <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
         <div> <h6>Gas Refill</h6>
          <p><strong>#</strong> 50,000</p></div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="col-5 col-xl-2 col-lg-3 col-md-3 me-2">
      <!-- Card -->
      <div class="card mb-4 rounded box">
        <!-- Card body -->
        <div class="card-body " >
          <div
            class=" align-items-center justify-content-between mb-3 lh-1 text-center"
          >
          <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
         <div> <h6>Dry Serving</h6>
          <p><strong>#</strong> 50,000</p>
          </div>
        
        </div>
      </div>
    </div>
  
  </div>
    <div class="col-5 col-xl-2 col-lg-3 col-md-3 me-2">
      <!-- Card -->
      <div class="card mb-4 rounded box">
        <!-- Card body -->
        <div class="card-body " >
          <div
            class=" align-items-center justify-content-between mb-3 lh-1 text-center"
          >
          <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
         <div>    <h6>Wet Serving</h6>
          <p><strong>#</strong> 50,000</p>
          </div>
        
        </div>
      </div>
    </div>
  
  </div>
    <div class="col-5 col-xl-2 col-lg-3 col-md-3 me-2">
      <!-- Card -->
      <div class="card mb-4 rounded box">
        <!-- Card body -->
        <div class="card-body " >
          <div
            class=" align-items-center justify-content-between mb-3 lh-1 text-center"
          >
          <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
         <div> <h6>Installation</h6>
          <p><strong>#</strong> 50,000</p>
          </div>
        
        </div>
      </div>
    </div>
    
    </div>
    <div class="col-5 col-xl-2 col-lg-3 col-md-3 me-2">
      <!-- Card -->
      <div class="card mb-4 rounded box">
        <!-- Card body -->
        <div class="card-body " >
          <div
            class=" align-items-center justify-content-between mb-3 lh-1 text-center"
          >
          <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
         <div> <h6>Gas Refill</h6>
          <p><strong>#</strong> 50,000</p></div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="col-5 col-xl-2 col-lg-3 col-md-3 me-2">
      <!-- Card -->
      <div class="card mb-4 rounded box">
        <!-- Card body -->
        <div class="card-body " >
          <div
            class=" align-items-center justify-content-between mb-3 lh-1 text-center"
          >
          <div class="img bg-info mx-auto"><img src="" alt="" class="img-fluid"></div>
         <div> <h6>Un-Installation</h6>
          <p><strong>#</strong> 50,000</p>
          </div>
        
        </div>
      </div>
    </div>
 
  </div>
    
</div>
</div>
  
 
