<div  class="p-3">
    <div class="h4">Job History</div>

  <section>
    <div class="row d-flex  col-12" >
      <div class="col-9">
        <!-- <div class=" " > -->
          <input type="date"   [(ngModel)]="fromDate1" class="me-2" placeholder="
          dd/mm/yyyy, --:--
          " >

        <!-- </div> -->
        <!-- <div class=" "> -->
          <input type="date" style=" margin-right: 3px;" [(ngModel)]="toDate1" placeholder="
          dd/mm/yyyy, --:--
          " >

        <!-- </div> -->
        <!-- <div class="col-2 h-50" > -->
          <button class="btn btn-danger " (click)="filterByDate()"><i class="bi bi-search"></i></button>
          <!-- <button class="btn btn-danger d-none col-md-block" (click)="filterByDate()">Search</button> -->

        <!-- </div> -->
      </div>
   
      <div class=" col-md-3 my-2  ">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for Artisans within your location">
      </div>
   
  </div>
    <div id="no-tables">
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th>Inspection Date</th>
            <th>Completion Date</th>
            <th scope="col" (click)="sort('id')" >Order ID&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col">Issue</th>

            <th scope="col">Location</th>

            <th scope="col">Status</th>
            <th scope="col">Action</th>

            
            
        </tr>
        </thead>
        <tbody *ngIf="orderData" >
          <tr *ngFor="let data of filteredOrderData |filter : searchText | paginate: { itemsPerPage:20, currentPage:p}; ">
            <td  data-title="Date">{{data.date}}</td>
            <td data-title="inspection Date">{{data.inspectionDate}}</td>
            <td data-title="Completion Date">{{data.completionDate }}</td>
            <td data-title="Order ID">{{data.uniqueId}}</td>
            <td data-title="Issue"   title="{{data.issue}}" class="but" >{{(data.issue.length>6)? (data.issue | slice:0:7)+'...':(data.issue)}}</td>
            <td data-title="Location">{{data.propertyAddress}}</td>
            <td data-title="status" *ngIf="!data.isCancelled && data.action === 0">Awaiting Approval</td>
            <td data-title="status" *ngIf="!data.isCancelled && data.action === 1">Awaiting Approval</td>
            <td data-title="status" *ngIf="!data.hasInvoice && data.action === 2">Awaiting Quote</td>
            <td data-title="status" *ngIf="data.hasInvoice && data.action === 2">Invoice Created</td>
            <td data-title="status" *ngIf="data.hasInvoice && data.action === 3">Artisan Canceled</td>
            <td data-title="status" *ngIf="data.action === 4">Completed</td>
            <td data-title="status" *ngIf="data.action === 5">Canceled</td>

            <!-- <td data-title="Artisan's Name">{{data.artisanName}}</td> -->
            <td data-title="Action">
              <!-- <button (click)="onEditOrder(data)" class="btn btn-info me-2" *ngIf="!data.isApproved" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Edit
              </button> -->
              <button class="btn btn-info me-2" (click)="openModal(template2); onClickViewOrder(data)">View Order</button>
              <button class="btn btn-info mt-3 mt-md-0" *ngIf="!data.isCancelled && data.action === 1">Awaiting  Approval</button>
              <button class="btn btn-info mt-2 mt-md-0" *ngIf="!data.isCancelled && data.action === 0">Awaiting  Approval</button>
              <button class="btn btn-dark" *ngIf="!data.hasInvoice && data.action === 2">Awaiting Quote</button>
              <button class="btn btn-dark" *ngIf="data.hasInvoice && data.action === 2">Quote Created</button>
              <button class="btn btn-dark" *ngIf="data.hasInvoice && data.action === 3 ">Artisan Canceled</button>
              <button class="btn btn-success me-2" *ngIf="!data.isCancelled && data.action === 4">Completed</button>
              <button class="btn btn-danger me-2" *ngIf="data.action === 5">Canceled</button>
              
              <button class="btn btn-success me-2"  *ngIf="data.isApproved">Processing</button>
              

              <button type="button" class="btn btn-dark" (click)="openModal(template); onClickRating(data)" *ngIf="data.action === 4 && data.artisanRating == null " >Rate</button>

              <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" onEditOrder(row)" >Update</button> -->
           
              <!-- <button class="btn btn-danger " *ngIf="!data.isApproved"  (click)="deleteOrder(data)">Delete</button> -->
            </td>
            
          </tr>
        
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
    

   
  </section>
  <section class="pt" *ngIf="!orderData">
  <!-- <app-emptycart></app-emptycart> -->
  </section>
</div>

<!--rating modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Rating</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="submitRating(this.form.value)">
        <div>
         <ngx-star-rating formControlName="rating" [id]="'rating3'"></ngx-star-rating>
         <div>Rating: {{form.value.rating}}</div>
        </div>
         <!-- <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
  
         <div class="mb-3 row">
           <label for="" class=" "
             >Comment</label
           >
           <div class="">
             <input
               type="text"
               class="form-control"
               id="inputText"
               formControlName="comment"
             />
           </div>
         </div>
         <button class="btn btn-danger" type="submit">submit</button>
     </form>
      
    </div>
  </ng-template>
  
  <!-- view Order section -->
  <ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left">ORDER DETAILS</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
  
      <div><span> Order Date : </span><span class="h6">{{orderById.date}}</span></div>
  
  <!-- <div><span>Pictures : </span><button class="h6">View Pictures</button></div> -->
  <!-- <button mat-button matRipple class="purple-500 fuse-white-fg mr-12"; (click)="imageSource()">Display</button> -->
  <div class="d-flex w-100" *ngFor="let data of orderById.filesBytes, let i = index"> 
    <img class="image-fluid mb-1" style="height: 100px; width:100px;" src="data:image/png;base64,{{data}}" *ngIf="hidden" />
  
  </div>  
  <div><span>Pictures : </span><span class="h6"><button  class="btn btn-info mt-2" (click)="imageSource()">View Pictures</button></span></div>
  
  
  
  <div><span> Order ID : </span><span class="h6">{{orderById.uniqueId}}</span></div>
  
  <div><span>Inspection Date : </span><span class="h6">{{orderById.inspectionDate}}</span></div>
  
  <div><span>Job Description : </span><span class="h6">{{orderById.issue}}</span></div>
  
  <div><span>Order Name : </span><span class="h6">{{orderById.name}}</span></div>
  
  <!-- <div><span>Order Phone Number : </span><span class="h6">{{orderById.orderPhoneNumber}}</span></div> -->
  
  <div><span>Order Phone Number : </span><span class="h6">{{orderById.phoneNumber}}</span></div>
  
  <div><span> Address : </span><span class="h6">{{orderById.propertyAddress}}</span></div>
  
  
  <!-- <div class="mt-3"><span> Customer's Email : </span><span class="h6">{{orderById.customerEmail}}</span></div>
  
  <div><span> Customer's Name : </span><span class="h6">{{orderById.customerName}}</span></div>
  
  <div><span>Customer's Phone Number : </span><span class="h6">{{orderById.customerPhoneNumber}}</span></div> -->
  
  
  <div class="mt-3"> Artisan Name : <span></span><span class="h6">{{orderById.artisanName}}</span></div>
  
  <div><span>Artisan Email : </span><span class="h6">{{orderById.artisanEmail}}</span></div>
  
  
  
  <div><span>Artisan Address : </span><span class="h6">{{orderById.artisanLocation}}</span></div>
  
  
  
  <div><span>Artisan Number : </span><span class="h6">{{orderById.artisanPhoneNumber}}</span></div>
  
  <div class="d-flex my-2" *ngIf="!orderById.hasInvoice">
    <input type="date" class="me-3" *ngIf="hidden2" [(ngModel)]="this.feeForm.value.inspectionDateAndTime">
  
    <button class="btn btn-success me-2" *ngIf="!hidden2" (click)="changeFee()">Change Inspection Date</button>
    <button class="btn btn-danger me-2" *ngIf="hidden2" (click)="changeFee()">Cancel</button>
    <button class="btn btn-info me-2" *ngIf="hidden2" (click)="changeInspectionDate(orderById)"  >Change Date</button>
  
  </div>  
  <!-- <div><span>Artisan Ratings : </span><span class="h6">{{orderById.artisanRating}}</span></div> -->
  <div><span class="mt-3">Artisan Ratings : </span><ngx-star-rating [id]="orderById.artisanRating" [(ngModel)]="orderById.artisanRating" [disabled]="true"></ngx-star-rating>
  </div>
  
  
  
  
      
    </div>
  </ng-template>