<div class="section container">
    <h4><strong>General Carpentry Work</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Wooden Partition</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Mesh</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>New Wooden Chair</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Bed</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Other Carpentry Services</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    
</div>
    <h4><strong>Bolt, Latch, Handle Work</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Door Stopper</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Handle</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Door Chain</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Door Latch</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Hinges</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Door Peephole</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <p><strong>#</strong> 50,000</p>
        </div>
        
    </div>
    
</div>
    <h4><strong>Furniture Installation And Assembly</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Locks</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Others</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
    
    
</div>
    <h4><strong>Carpentry Services</strong></h4>
<div class="section1">
    
 
    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Furniture Repair</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>

    <div class="box col-md-2">
        <div class="content">
            <div class="img"><img src="" alt=""></div>
            <h6>Full Home Health Check</h6>
            <!-- <p><strong>#</strong> 50,000</p> -->
        </div>
        
    </div>
   
   
    
</div>

</div>

