<div>
    <div>
        <mat-sidenav-container >
      
            <mat-sidenav #sidenav="matSidenav" mode="over" opened class="col-6 col-md-3" >
              <mat-toolbar class="w-100 d-flex justify-content-end ">
                <!-- <div *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->
                         
                  <mat-icon *ngIf="sidenav.opened && sidenav.mode === 'over'" (click)="sidenav.toggle()" class="d-flex justify-content-end">close</mat-icon>
                  <!-- <i class="bi bi-arrow-left-circle" *ngIf="sidenav.opened" ></i> -->
            
                <!-- </div> -->
              </mat-toolbar>
      
      
              <div class="w-100 d-flex flex-column align-items-center ">
                <!-- <img  *ngIf="userData.profileImage"
                src="data:image/png;base64,{{userData.profileImage}}" alt=""
                class="img-fluid bg-success rounded-circle w-50"
              /> -->
              <ngx-avatar   size="130" name="{{userData.firstName}} {{userData.lastName}}"></ngx-avatar>
              
                <h4 class="mt-2 mt-md-4">{{userData.firstName}} {{userData.lastName}}</h4>
                <!-- <h4>{{userData.service}}</h4> -->
                <h4>{{userData.email}}</h4>
              
               <button class="btn btn-info" (click)="openModal2(template2); getAllServiceCategory()">Create New Order</button>
               </div>
             
              <h4></h4>
             <hr class="divider">
              <div class=" icons w-100 p-4">
                <div  class="p-3 cursor" routerLink="/User/Userprofile"  (click)="sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"
                  ><i class="bi bi-grid-3x3-gap"></i> DASHBOARD</div
                >
               
                <div class="p-3 cursor" routerLink="/User/Transaction"  (click)="sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true" ><i class="fa-solid fa-cart-shopping "></i> MY ORDERS</div>
                <div class="p-3 cursor" routerLink="/User/Quote"  (click)="sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"><i class="fa-solid fa-list"></i> QUOTE</div>
                <div class="p-3 cursor" routerLink="/User/Wallet"  (click)="sidenav.opened && sidenav.mode === 'over'?  sidenav.toggle() : true"><i class="fa-solid fa-money-check-dollar"></i> WALLET</div>
                
      
                
                
              </div>
          
            <hr class="divided">
           
      
          
            <!-- <mat-divider></mat-divider> -->
            </mat-sidenav>
            <mat-sidenav-content opened>
                <div class="content mat-elevation-z4 flex-column ms-3; ms-lg-4">
                    <mat-toolbar class="col-12">
                      <div class="d-lg-none">
                        <mat-icon (click)="sidenav.toggle()" *ngIf="!sidenav.opened && sidenav.mode === 'over'">menu</mat-icon>
                      </div>
            
                      <nav class="navbar-default navbar w-100 navbar-expand float-right">
                        <a id="nav-toggle" >
                          <i class="bi bi-menu"></i>
                        </a>
                     
            
                        
                        <!--Navbar nav -->
                        <ul
                          class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap"
                        >
                          <li class="dropdown stopevent">
                            <a
                              class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted position-relative bg-info"
                            
                              role="button"
                              id="dropdownNotification"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="bi bi-bell"></i>
                              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-danger fs-6" >
                                {{signalRService.notificationCount}}
                                </span>
                            </a>
                         <div
                              class=" dropdown-menu dropdown-menu-end notify"
                              aria-labelledby="dropdownNotification"
                            >
                              <div class="">
                                <div
                                  class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center"
                                >
                                  <span class="h4 mb-0">Notifications</span>
                                  <a  class="text-muted">
                                    <span class="align-middle">
                                      <i class="bi bi-settings me-1"></i>
                                    </span>
                                  </a>
                                </div>
                                <!-- List group -->
                              <ul
                                class="list-group list-group-flush notification-list-scroll"
                              >
                                <li class="list-group-item bg-light">
                                  <div class="row">
                                    <div class="col">
                                      <a class="text-body" >
                                       
                                          
                                        <div class="ms-3" *ngFor=" let data of signalRService.notificationText; let i= index">
                                          <!-- <h5 class="fw-bold mb-1">Kristin Watson:</h5> -->
                                         <div class="text-wrap"  (click)="onclickNotification(data.notificationId)">
                                          <span class="me-2" >
                                            {{i+1 }}
                                           
                                          </span>
                                        {{data.notificationText }}
                                        <a class="float-right" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="This top tooltip is themed via CSS variables." (click)="onclickNotification(data.notificationId)"><i class="fa-solid fa-rectangle-xmark"></i></a>
                                          
                                         </div>
                                         
                                        </div>
                                      </a>
                                    </div>
                                   
                                  </div>
                                </li>
                             
                                
                               
                              </ul>
                                
                              </div>
                            </div>
                          </li>
                          <!-- List -->
                        
                        </ul>
                      </nav>
            
           
                    </mat-toolbar>
                    <router-outlet></router-outlet>
                    </div>
                    </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>

<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef2?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2 class="card-title" style="color: #033d94">SELECT CATEGORY</h2>
<div>
  <ul class="list-inline mb-0" *ngFor="let category of serviceData">
    <li class="list-inline-item me-0 large cursor mb-2" routerLink="/available artisan" (click)="this.data.sendClickEvent(category.name); modalRef2?.hide()">{{category.name}}</li>
  </ul>
</div>
   
  </div>
</ng-template>