

        <div class="container-fluid p-4">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div
                class="border-bottom pb-4 mb-4 d-lg-flex justify-content-between align-items-center"
              >
                <div class="mb-3 mb-lg-0">
                  <h1 class="mb-0 h2 fw-bold">Dashboard</h1>
                </div>
                <div class="d-flex">
                  <div class="input-group me-3">
                    <input
                      class="form-control flatpickr"
                      type="text"
                      placeholder="Select Date"
                      aria-describedby="basic-addon2"
                    />

                    <span class="input-group-text text-muted" id="basic-addon2"
                      ><i class="bi bi-calendar"></i
                    ></span>
                  </div>
                  <a href="#" class="btn btn-info">Setting</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between mb-3 lh-1"
                  >
                    <div>
                      <span class="fs-6 text-uppercase fw-semi-bold"
                        >Total Orders</span
                      >
                    </div>
                    <div>
                      <span class="bi bi-shopping-bag fs-3 text-primary"></span>
                    </div>
                  </div>
                  <h2 class="fw-bold mb-1">1560</h2>


                  <span class="text-danger fw-semi-bold">120+</span>
                  <span class="ms-1 fw-medium">Number of pending</span>

                 
                </div>
              
              </div>

             

            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between mb-3 lh-1"
                  >
                    <div>
                      <span class="fs-6 text-uppercase fw-semi-bold"
                        >Total Sales</span
                      >
                    </div>
                    <div>
                      <span class="bi bi-book-open fs-3 text-primary"></span>
                    </div>
                  </div>
                  <h2 class="fw-bold mb-1"> &#8358; 1,110,800</h2>
                  <span class="text-success fw-semi-bold"
                  ><i class="bi bi-trending-up me-1"></i>+20000 &#8358;</span
                >
                <span class="ms-1 fw-medium">Total Sales</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between mb-3 lh-1"
                  >
                    <div>
                      <span class="fs-6 text-uppercase fw-semi-bold"
                        >CLIENT/USERS</span
                      >
                    </div>
                    <div>
                      <span class="bi bi-users fs-3 text-primary"></span>
                    </div>
                  </div>
                  <h2 class="fw-bold mb-1">500</h2>
                  <span class="text-success fw-semi-bold"
                    ><i class="bi bi-trending-up me-1"></i>+5</span
                  >
                  <span class="ms-1 fw-medium">Total Orders</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between mb-3 lh-1"
                  >
                    <div>
                      <span class="fs-6 text-uppercase fw-semi-bold"
                        >Artisans</span
                      >
                    </div>
                    <div>
                      <span class="bi bi-user-check fs-3 text-primary"></span>
                    </div>
                  </div>
                  <h2 class="fw-bold mb-1">1000</h2>
                  <span class="text-success fw-semi-bold"
                    ><i class="bi bi-trending-up me-1"></i>+10</span
                  >
                  <span class="ms-1 fw-medium">Artisan</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card header -->
                <div
                  class="card-header align-items-center card-header-height d-flex justify-content-between align-items-center"
                >
                  <div>
                    <h4 class="mb-0">Earnings</h4>
                  </div>
                  <div>
                    <div class="dropdown dropstart">
                      <a
                        class="text-muted text-decoration-none"
                        href="#"
                        role="button"
                        id="courseDropdown1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-more-vertical"></i>
                      </a>
                     
                    </div>
                  </div>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <!-- Earning chart -->
                  <div echarts [options]="chartOption"  class="demo-chart" id="chart1"></div>
                 
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card header -->
                <div
                  class="card-header align-items-center card-header-height d-flex justify-content-between align-items-center"
                >
                  <div>
                    <h4 class="mb-0">Traffic</h4>
                  </div>
                
                </div>
                <!-- Card body -->
                
                <div class="card-body">
                 
                  <div echarts [options]="options"  [theme]="theme" class="demo-chart" id="chart2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-4">
              <!-- Card -->
              <div class="card h-100">
                <!-- Card header -->
                <div
                  class="card-header d-flex align-items-center justify-content-between card-header-height"
                >
                  <h4 class="mb-0">All Artisans</h4>
                  <div routerLink="'page2'" [class.active]="expression == 'page2'"
                  toggle
                  (click)="expression = 'page2'" class="btn btn-outline-white btn-sm" >View all</div>
                  
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <!-- List group -->
                  <ul class="list-group list-group-flush" *ngFor="let data of artisanData | paginate: { id: 'listing_pagination',itemsPerPage: 5, currentPage: page, totalItems: totalRecord}">
                    <li class="list-group-item px-0 pt-0">
                      <div class="row ">
                        <div class="col-auto d-flex text-center w-100">
                          <div
                            class="avatar avatar-md avatar-indicators avatar-offline me-2 "
                          >
                            <img
                            
                              src="{{data.picture.thumbnail}}"
                              class="rounded-circle img-fluid  "
                            />
                          </div>
                          <div class="d-flex justify-content-between w-100">
                            <!-- <h4 class="text-center">Enikansaye mayowa</h4> -->
                          <div>
                           <h4> {{data.name.first}} {{data.name.last}}</h4>
                           <span>{{data.phone}}</span>

                          </div>
                          <div class=""><span><i class="bi bi-geo-alt-fill"></i></span> {{data.location.city}}</div>
                          </div>
                        
                        </div>
                      
                       
                      </div>
                      <hr>
                   
                    </li>
                  
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-4">
              <!-- Card -->
              <div class="card h-100">
                <!-- Card header -->
                <div
                  class="card-header d-flex align-items-center justify-content-between card-header-height"
                >
                  <h4 class="mb-0">Recent User</h4>
                  <a [class.active]="expression == 'page3'"
                  toggle
                  (click)="expression = 'page3'"class="btn btn-outline-white btn-sm">View all</a>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <!-- List group flush -->
                  <ul class="list-group list-group-flush" *ngFor="let data of artisanData | paginate: { id: 'listing_pagination',itemsPerPage: 5, currentPage: page, totalItems: totalRecord}">
                    <li class="list-group-item px-0 pt-0">
                      <div class="row ">
                        <div class="col-auto d-flex text-center w-100">
                          <div
                            class="avatar avatar-md avatar-indicators avatar-offline me-2 "
                          >
                            <img
                            
                              src="{{data.picture.thumbnail}}"
                              class="rounded-circle img-fluid  "
                            />
                          </div>
                          <div class="d-flex justify-content-between w-100">
                            <!-- <h4 class="text-center">Enikansaye mayowa</h4> -->
                          <div>
                           <h4> {{data.name.first}} {{data.name.last}}</h4>
                           <span>{{data.phone}}</span>

                          </div>
                          <div class=""><span><i class="bi bi-geo-alt-fill"></i></span> {{data.location.city}}</div>
                          </div>
                        
                        </div>
                      
                       
                      </div>
                      <hr>
                   
                    </li>
                  
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-4">
              <!-- Card -->
              <div class="card h-100">
                <!-- Card header -->
                <div
                  class="card-header card-header-height d-flex align-items-center"
                >
                  <h4 class="mb-0">Activity</h4>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <!-- List group -->
                  <ul
                    class="list-group list-group-flush list-timeline-activity"
                  >
                  <li>
                    <div class="d-flex justify-content-between w-100">
                  
                      <div>
                       <h4> Mrs sanwo'lu</h4>
                       <span class="fs-6 text-muted">1 hour ago</span>
    
                      </div>
                      <div class=""><span><i class="bi bi-geo-alt-fill"></i></span> lekki</div>
                      </div>
                  </li>
                
                    <!-- List group -->
                    <li>
                      <div class="d-flex justify-content-between w-100">
                  
                        <div>
                         <h4> Mrs sanwo'lu</h4>
                         <span class="fs-6 text-muted">1 hour ago</span>
      
                        </div>
                        <div class=""><span><i class="bi bi-geo-alt-fill"></i></span> lekki</div>
                        </div>
                    </li>
                    <!-- List group -->
                    <li>
                      <div class="d-flex justify-content-between w-100">
                  
                        <div>
                         <h4> Mrs sanwo'lu</h4>
                         <span class="fs-6 text-muted">1 hour ago</span>
      
                        </div>
                        <div class=""><span><i class="bi bi-geo-alt-fill"></i></span> lekki</div>
                        </div>
                    </li>
                    <!-- List group -->
                    <li>
                      <div class="d-flex justify-content-between w-100">
                  
                        <div>
                         <h4> Mrs sanwo'lu</h4>
                         <span class="fs-6 text-muted">1 hour ago</span>
      
                        </div>
                        <div class=""><span><i class="bi bi-geo-alt-fill"></i></span> lekki</div>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
     
   