<div class="container">

    
    <div class="container">
        <h2>About Us</h2>
        <p>Housejoy is your one-stop solution to sort all your home needs ranging from construction to maintenance, quickly, professionally and conveniently. 
            We simplify your everyday living with a variety of at-home services across 13 cities of India, delivered by verified & qualified professionals only. Housejoy’s home services include Interiors/Renovation/Construction Services,
             Home Cleaning, Painting, Beauty Services at Home, Appliance Repairs, Pest Control, Plumbing/Electrical/Carpentry services & a lot more. Their services are available in Bangalore, Hyderabad, Chennai, Delhi, Mumbai, Gurgaon, Pune, Coimbatore, Vijayavada, Surat, Baroda, and Ahmedabad.</p>
            <h4>Housejoy was conceived to solve precisely this pain area.</h4>
            </div>

            
          <div>
            <app-zippy title="Construction Services"> 
                <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
            </app-zippy> 
            <app-zippy title="Construction Services"> 
                <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
            </app-zippy> 
            <app-zippy title="Construction Services"> 
                <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
            </app-zippy> 
            <app-zippy title="Construction Services"> 
                <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
            </app-zippy> 

          </div>
<div>
<p>    Used, trusted and appreciated by over 1,500,000 happy customers, download the Housejoy App for all your home service needs now!
</p>
<h6>
    If you have any complaints / feedback / suggestions, please write to us at complaints@housejoy.in
</h6>
</div>


</div>
